@import 'global';

::-webkit-scrollbar              { background-color: #fff; width: 10px;}
::-webkit-scrollbar-track        { background-color: #fff; }
::-webkit-scrollbar-track-piece  { background-color: #fff; }
::-webkit-scrollbar-thumb        { background-color: $medium; }

html {
	overflow: hidden;
}

// in portrait mode, hide preview
@media only screen and (max-width : 320px) {
	#dash-right {
		display: none;
	}
}

#container {
	position: absolute;
	left: 0;
	width: 100%;
	height: calc(100% - 50px);
	margin-top: 10px;
	border-top: 1px solid #dedede;
	overflow: hidden;
}

.dash-section-title {
	text-align: left;
	font-size: 20px;
	position: absolute;
	top: 0;
	background-color: $medium;
	opacity: 0.9;
	color: #fff;
	line-height: 30px;
	//padding: 0px 6px 0px 6px;
	padding: 4px;
	z-index: 1;
	white-space: nowrap;
	overflow: hidden;
}

#dash-left {
	width: 40%;
	margin: 0;
	padding: 0;
	float: left;
	height: 100%;
}

#dash-cats {
	width: 45%;
	float: left;
	border-right: 1px solid #dedede;
	height: 100%;
	padding-top: 40px;
	overflow-y: auto;
}

#dash-notes {
	width: 55%;
	float: right;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
	padding-top: 40px;

	.dash-section-title {
		max-width: 27%;
	}
}

#dash-notes-sorting {
	display: block;
	position: relative;
	float: right;
	top: 0;
	right: 0;
	margin: -40px 0 0 0;
	width: 100px;
	//height: 40px;
	overflow: visible;

	z-index: 1;
	
	.button {
		margin: 0;
	}
}

#dash-notes-temp {
	display: none;
}

#dash-notes-sorting-options {
	display: none;
	background-color: $gray;
	margin: 0;
	width: 500px;
	overflow: visible;

	a {
		padding-left: 6px;
		display: block;
		height: 30px;
		line-height: 30px;
		color: #000;
		width: 100%; // 50% of the left pane
	}

	a:hover {
		background-color: $dark;
		color: #fff;
	}
}

.dash-note-block {
	height: 70px;
	position: relative;
	white-space: nowrap;
	overflow: hidden;

	padding: 0 0 10px 10px;
	cursor: default;

	.dash-note-title {
		color: #111;
		font-size: 20px;
		margin-top: 10px;
		float: left;
		clear: both;
	}

	a {
		color: #000;
		clear: left;
		float: left;
	}

	span {
		color: #777;
		font-size: 14px;
	}
	
	.dash-note-updated,.dash-note-created {
		margin: 2px 0;
		float: left;
		clear: both;
	}
	
	.dash-note-timestamp {
		display: none;
		margin: 0 0 0 3px;
		color: #bbb;
		white-space: nowrap;
	}

	.icon {
		height: 25px;
		width: 25px;
	}
}

.dash-note-block:hover {
	background-color: $gray;

	.dash-note-actions {
		display: block;
		background-color: $gray;
		opacity: 0.8;

		&:hover {
			opacity: 1.0;
		}
	}
	
	.dash-note-timestamp {
		display: inline;
	}
}

.dash-note-block.dash-note-selected {
	background-color: $medium;
	a,span {
		color: #fff;
	}
	
	.dash-note-timestamp {
		display: inline;
		color: #eee;
	}


	.dash-note-actions {
		display: block;
		background-color: $medium;
	}
}

.dash-note-actions {
	float: right;
	position: absolute;
	right: 0;
	display: none;

	a {
		height: 35px;
		padding: 5px;

		&:hover {
			background-color: $dark;
			color: #fff;
		}
	}

	.dash-note-delete:hover {
		background-color: $red;
		color: #fff;
	}
}

.dash-cat-block {
	height: 35px;
	padding: 0 0 0 10px;
	overflow: hidden;

	.dash-cat-title {
		color: #000;
		display: inline-block;
		float: left;
		height: 35px;
		line-height: 35px;
		max-width: calc(100% - 70px);
		white-space: nowrap;
	}
	
	.dash-cat-title:hover {
		cursor: default;
	}

	.icon {
		height: 35px;
		width: 35px;
		padding: 5px;
		float: right;
		display: none;

		// overwrites so it works in all browsers
		cursor: hand;
		cursor: pointer;
	}

	.dash-cat-actions {
		float: right;
		background-color: $gray;
		opacity: 0.8;
	
		width: 70px;
	}

	.dash-cat-actions:hover {
		opacity: 1.0;
	}

	.dash-cat-edit:hover {
		background-color: $dark;
		color: #fff;
	}

	.dash-cat-delete:hover {
		background-color: $red;
		color: #fff;
	}
}

.dash-cat-block:hover {
	background-color: $gray;

	.icon {
		display: inline-block;
	}
}

.dash-cat-block.dash-cat-selected {
	background-color: $medium;
	a {
		color: #fff;
	}

	span {
		color: #ccc;
	}

	.icon {
		color: #fff;
	}

	.dash-cat-actions{
		background-color: $medium;
		opacity: 1.0;
	}
}

.button {
	margin: 10px 0 10px 0;
	background-color: $gray;
	padding: 5px 0 5px 6px;
	display: block;
	//height: 30px;
	width: 100%;
	line-height: 40px;
	text-align: center;
	overflow: hidden;

	span {
		float: left;
		display: inline-block;
		white-space: nowrap;
		max-width: calc(100% - 30px);
	}

	.icon {
		float: right;
		background-color: $gray;
		opacity: 0.8;
		padding-right: 5px;
	}

	&:hover .icon {
		background-color: $dark;
		opacity: 1.0;
	}
}

.dash-section-new:hover {
	color: $gray;
	background-color: $dark;
}


#dash-right {
	height: 100%;
	margin: 0;
	padding: 0;
	width: 60%;
	float: left;
	border-left: 1px solid #dedede;
}

#dash-previewMessage {
	position: relative;
	margin-left: calc(50% - 150px);
	margin-top: calc(50% - 15px);
	width: 300px;
	height: 30px;
	color: #ccc;
	font-size: 24px;
	line-height: 30px;
	text-align: center;
}

#dash-md-title {
	display: none;
	position: fixed;
	font-size: 32px;
	font-family: $serif-stack;
	border-bottom: 1px solid $gray;
	padding: 15px;
	min-height: 32px;
	background-color: #fff;
	width: 100%;
	z-index: 2;
}

@import 'rendered.scss';

#md-rendered {
	@extend #md-rendered;

	height: calc(100% - 70px);
	overflow-y: auto;
	top: 70px;
	position: relative;
	padding: 15px;
}

@media only screen and (max-width: 800px) {
	@import "mobile";
	
	#container {
		width: 100%;
		display: block;
		overflow: visible;
	}
	
	.dash-cat-block .icon {
		display: inline-block;
	}
	
	.dash-note-block .dash-note-actions {
		display: inline-block;
	}
	
	#dash-right {
		display: none;
	}
	
	#dash-left {
		width: 100%;
	}
	
	#dash-cats {
		width: 100%;
		border-right: none;
	}
	
	#dash-notes {
		width: 100%;
		border-right: none;
		display: none;
		height: 100%;
	}
	
	.dash-section-title {
		overflow: visible;
		display: block;
	}
}