@import 'global';

body, html {
	overflow: hidden;
}

::-webkit-scrollbar {
	background-color: #fff;
	width: 10px;
}

::-webkit-scrollbar-track {
	background-color: #fff;
}

::-webkit-scrollbar-track-piece {
	background-color: #fff;
}

::-webkit-scrollbar-thumb {
	background-color: $medium;
}

// markdown and rendered panes
#editor {
	position: absolute;
	width: 100%;
	height: calc(100% - 60px);
	left: 0;
	top: $header-height + $header-margin-top + 20px; // the height of the header + the height of the margin above it + the height of the note metadata
	margin: 0;
	padding: 0;
	border-top: 1px solid $gray;

}

#editor-left {
	float: left;
	display: block;
	width: 50%;
	max-width: 50%;
	height: 100%;
	background-color: $gray;
	margin: 0;
	padding: 0;

	overflow-y: scroll;
}

#editor-meta {
	position: relative;
}

.editor-meta-block {
	padding: 0;
	display: block;
	top: $header-height;
	float: left;
	width: 100%;
	margin: 0;
	background-color: #fff;

	input {
		outline: none;
		border: none;
	}
}

#editor-meta-title-block.editor-meta-block {
	padding-left: 15px;

	#editor-meta-title {
		padding: 0;
		width: calc(100% - 160px);

		line-height: 21px;
		font-size: 21px;

		height: 40px;
	}

}

#editor-settings-slug {
	h2 {
		font-size: 20px;
		margin: 10px 0;
	}

	input {
		width: 100%;
		float: right;
		clear: both;
		margin-bottom: 5px;
		outline: none;
		border: none;
	}
}

#editor-meta-slug {
	background-color: #eee;
}

#editor-slug-url {
	background-color: #fff;
}

#editor-slug-link {
	padding-left: 5px;
}

#editor-md-raw {
	border: none;
	outline: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;

	background-color: $gray;
	width: 100%;
	max-width: 100%;
	padding: 15px 15px 300px 15px;
	margin: 0;

	resize: none;
	font-size: 16px;
	line-height: 135%;

	font-family: $monospace-stack;
}

#editor-right {
	float: right;
	width: 50%;
	height: 100%;
	margin: 0;
	padding: 15px 15px 0 15px;

	overflow-y: scroll;
}

@import "rendered.scss";

// most of the md rendered styles are in rendered.scss
#md-rendered {
	@extend #md-rendered;

	word-wrap: break-word;
	padding-bottom: 300px;
}

#editor-md-title {
	font-size: 32px;
	font-family: $serif-stack;
	margin-bottom: 15px;
	border-bottom: 1px solid $gray;
	padding-bottom: 15px;
	min-height: 32px;
}

#editor-settings-button {
	position: fixed;
	background: rgba(255, 255, 255, 0.9);
	//right: 0;
	width: 150px;
	left: calc(50% - 160px); // 150px = width of button plus width of the scrollbar

	margin: 0;
	color: $dark;
	height: 40px;
	padding: 0 10px 0 10px;
	z-index: 1;

	span {
		display: inline-block;
		line-height: 40px;
		padding: 0;
		margin: 0 3px 0 0;
		height: 40px;
		float: left;
	}

	.icon {
		margin: 8px 0 7px 0;
	}
}

#editor-settings-deleteNote {
	display: inline-block;
	position: relative;
	color: $red;
	background-color: #f0f0f0;
	height: 40px;
	float: left;
	clear: both;

	span {
		display: inline-block;
		float: right;
		height: 40px;
		line-height: 40px;
		margin-right: 5px;
	}

	.icon {
		margin: 8px 0 7px 0;
	}
}

#editor-settings-deleteNote:hover {
	background-color: $red;
	color: #fff;
}

#editor-settings-button:hover {
	text-decoration: none;
	background-color: $dark;
	color: $gray;
}

#editor-status {
	position: absolute;
	right: 0;
	top: 0;

	margin: 0 10px 0 0;
	padding: 0 10px 0 10px;

	background-color: rgba(255, 255, 255, 0.95);

	display: block;
	height: 40px;

	color: $dark;

	#editor-status-message {
		height: 40px;
		line-height: 40px;
		display: inline-block;
		margin-right: 3px;
		float: left;

		p {
			height: 16px;
			line-height: 16px;
			font-size: 16px;
		}

		a {
			text-decoration: underline;
		}
	}

	.icon {
		margin: 8px 0 7px 0;
		display: block;
	}
}

#editor-settings {
	z-index: 2;
	width: calc(50% - 10px);
	background-color: rgba(255, 255, 255, 0.95);
	border-right: 1px solid $gray;
	display: none;
	height: 100%;
	position: fixed;
	overflow: scroll;

	h3 {
		text-align: center;
		font-size: 24px;
		margin: 10px 0 0 10px;
	}

	h4 {
		margin-bottom: 10px;
		font-size: 22px;
	}
}

#editor-settings-close {
	float: right;

	padding: 0 10px 0 10px;

	background-color: rgba(255, 255, 255, 0.9);

	display: block;
	height: 40px;

	color: $dark;

	span {
		height: 40px;
		line-height: 40px;
		display: inline-block;
		margin-right: 3px;
		float: left;
	}

	.icon {
		margin: 8px 0 7px 0;
		display: block;
	}
}

#editor-settings-close:hover {
	text-decoration: none;
	background-color: $dark;
	color: $gray;
}

.editor-category-entry, .editor-category-avail {
	display: inline-block;
	margin-right: 5px;
	height: 30px;
	pointer-events: none;

	span {
		display: inline-block;
		float: right;
		height: 30px;
		line-height: 30px;
		margin: 0 5px 0 5px;
	}

	.icon {
		display: inline-block;
		height: 30px;
	}

	& div {
		pointer-events: auto;
		cursor: hand;
		cursor: pointer;
	}

}

.editor-category-entry {
	background-color: $dark;
	color: #fff;
}

.editor-category-entry:hover {
	background-color: $red;
}

#editor-categories-avail {
	padding: 5px 0 15px 0;
}

.editor-category-avail {
	background-color: $gray;

	&:hover {
		background-color: $dark;
		color: #fff;
	}
}

#editor-categories-new {
	font-family: $sans-stack;

	width: 100%;
	display: block;
	outline: none;
	border: none;
	font-size: 18px;
	padding: 5px;

	background-color: $gray;
	margin: 10px 0 10px 0;
}

#editor-categories-message {
	height: 25px;

	span {
		display: inline-block;
		line-height: 25px;
		float: left;
	}

	.icon {
		display: inline-block;
		float: left;
		position: relative;
	}
}

#editor-settings-privacy {
	input {
		display: inline-block;
	}

	label {
		line-height: 150%;
		display: block;
	}

	#editor-note-password {
		outline: none;
		border: none;
		background-color: $gray;
	}
}

.editor-settings-block {
	padding: 15px;
	display: block;
}

.editor-settings-remark {
	color: $dark;
	margin-bottom: 10px;
}

// hide view switch by default
#editor-mobile-viewSwitch {
	display: none;
}

@media only screen and (max-width: 800px) {
	@import 'mobile';

	#container {
		width: 480px;
		display: block;
		overflow-x: hidden;
	}

	#editor-status {
		position: fixed;
		right: 0;
		top: 10px;
	}

	#editor-left {
		width: 100%;
		max-width: 100%;
		z-index: 1;
	}

	#editor-right {
		width: 100%;
		max-width: 100%;
		clear: both;
		z-index: 2;
		position: fixed;
		left: 100%;
		top: 60px;
		background-color: #fff;
	}

	#editor-settings-button {
		left: unset;
		right: 0;
		margin: 0;
	}

	#editor-settings {
		width: 100%;
		max-width: 100%;
	}

	#editor-mobile-viewSwitch {
		z-index: 3;
		display: inline-block;
		position: fixed;
		top: 50%;
		right: 10px;
		font-size: 36px;
		background-color: #fff;
		padding: 15px;
		vertical-align: middle;
		text-align: center;
	}
}
