@import 'global';

#container {
	clear: both;

	h1 {
		font-size: 24px;
		margin: 10px 0 10px 0;
	}

	a {
		color: $dark;
		padding: 2px;
		&:hover {
			background-color: $dark;
			color: #fff;
		}
	}

}