@import 'https://fonts.googleapis.com/css?family=Oxygen+Mono:400,700|PT+Sans|PT+Serif:400,700&subset=cyrillic,cyrillic-ext,latin-ext';
// $light: ??????
$medium: #9FBCBF;
$dark: #647678;

$green: #3DB015;
$yellow: #FAFC4F;
$red: #C9362E;
$gray: #eee;

$sans-stack: 'PT Sans', sans-serif;
$serif-stack: 'PT Serif', serif;

$monospace-stack: 'Oxygen Mono', monospace;

html {
	background: #fefefe;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

body {
	font-family: $sans-stack;
	//font-family: 'Source Sans Pro', sans-serif;
	width: 1024px;
	margin: 0 auto;
}

$header-height: 30px;
$header-margin-top: 10px;
header {
	display: block;
	height: $header-height;
	width: 100%;

	margin-top: $header-margin-top;

	#header-left {
		// "nanote" title
		h2 {
			font-size: 26px;
			display: inline;
			color: $dark;
		}

		// note breadcrumb title
		h3 {
			font-size: 18px;
			display: inline;
		}

		line-height: $header-height;
		display: block;
		float: left;
	}

	#header-nav {
		display: inline;
	}

	#header-auth {
		display: inline;
	}

	#header-lostpass {
		display: none;
	}
}

// this is outside the header tag to prevent unnecessary stuff from nesting
#header-right {
	display: block;
	float: right;
	line-height: $header-height;
	margin: 0;

	a {
		color: $dark;
		padding: 3px 5px 3px 5px;
		height: $header-height;
		line-height: $header-height;
		margin-left: 10px;

		&:hover {
			background-color: $dark;
			color: $gray;
		}
	}
}

a {
	text-decoration: none;
	color: $medium;
	&:hover {
		text-decoration: none;
	}
}

#header-auth-form {
	display: none;
	position: absolute;
	width: 245px;
	padding: 10px;
	margin: 0 0 0px -185px;
	background-color: #ddd;

	input {
		outline: none;
		border: none;
		background-color: $gray;
		padding: 5px;
		display: inline-block;
		width: 225px;
		margin: 0 0 10px 0;
	}

	a {
		display: inline-block;
		width: 225px;
		text-align: center;
		padding: 0;
		margin: 0 0 10px 0;
		background-color: #fff;
	}

}

.button {
	color: $dark;
	display: inline-block;
	text-align: left;

	span {
		display: inline-block;
		line-height: 30px;
		padding: 0;
		margin: 0 3px 0 0;
		height: 30px;
		float: left;
	}

	.icon {
		margin: 2px 0 2px 0;
	}

	&:hover {
		color: #fff;
		background-color: $dark;
	}
}

.good {
	color: $green !important;
}

.bad {
	color: $red !important;
}

.neutral {
	color: #555 !important;
}

.mobile-only {
	display: none;
}

input {
	font-family: $sans-stack;
}

/* === MODALS === */
#modal-overlay {
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,0.4);
	z-index: 9999;
}

.modal {
	#modal-prompt-input {
		width: 100%;
		padding: 3px;
		margin: 15px 0 15px 0;
	}

	input {
		background-color: $gray;
		outline: none;
		border: none;
	}

	p {
		padding: 10px 0;
	}

	.button {
		padding: 5px;
		background-color: $gray;

		position: relative;
		display: inline-block;
		width: unset;
		margin-right: 15px;

		&:hover {
			background-color: $dark;
			color: #fff;

			.icon {
				background-color: transparent;
			}
		}


		&.bad:hover {
			background-color: $red;
			color: #fff !important;
		}
	}
	box-shadow: 0 0 15px 4px #ccc;

	display: none;
	padding: 20px 15px;
	background-color: #fff;
	text-align: center;

	position: relative;
	width: 500px;
	max-width: 100%;
	margin: 250px auto 0;
}

/*===CodeMirror Theme===*/

.cm-s-nanote {
	width: 100%;
	height: auto;
	overflow-y: hidden;
	float: left;
	padding: 10px;
	font-family: $monospace-stack;
	font-size: 16px;
	z-index: 0;
}

.cm-s-nanote.CodeMirror {
	background: #f0f0f0; // effay
	color: #222;
	font-size: 16px;
	line-height: 18px;
}

.cm-s-nanote div.CodeMirror-selected {
	background: #e0e0e0 !important;
}

.cm-s-nanote.CodeMirror ::selection {
	background: #e0e0e0;
}

.cm-s-nanote.CodeMirror ::-moz-selection {
	background: #e0e0e0;
}

.cm-s-nanote {
	.CodeMirror-gutters {
		background: #f5f5f5;
		border-right: 0;
	}

	.CodeMirror-guttermarker {
		color: #ac4142;
	}

	.CodeMirror-guttermarker-subtle {
		color: #b0b0b0;
	}

	.CodeMirror-linenumber {
		color: #b0b0b0;
	}

	.CodeMirror-cursor {
		border-left: 2px solid #000 !important;
	}

	pre {
		line-height: 140%;
	}

	span.cm-header-1 {
		font-size: 28px;
		line-height: 30px;
	}

	span.cm-header-2 {
		font-size: 24px;
		line-height: 26px;
	}

	span.cm-header-3 {
		font-size: 22px;
		line-height: 24px;
	}

	span.cm-header-4 {
		font-size: 20px;
		line-height: 22px;
	}

	span.cm-header-5 {
		font-size: 20px;
		line-height: 22px;
		color: #444;
	}

	span.cm-header-6 {
		font-size: 20px;
		line-height: 22px;
		color: #666;
	}

	span.cm-comment {
		background-color: #fff;
		color: #000;
		margin: 5px 0;
	}

	span.cm-latex {
		background-color: #558241;
		color: #fff;
	}

	span.cm-atom {
		color: #aa759f;
	}

	span.cm-number {
		color: #aa759f;
	}

	span.cm-property, .cm-s-nanote span.cm-attribute {
		color: #558241;
	}

	span.cm-keyword {
		color: #ac4142;
	}

	span.cm-string {
		color: #f4bf75;
	}

	span.cm-def {
		color: #d28445;
	}

	span.cm-tag {
		color: #ac4142;
	}

	span.cm-link {
		color: #0645ad;
		font-style: normal;
		text-decoration: none;
	}

	span.cm-url {
		color: #ba2121;
	}

	span.cm-error {
		background: #ac4142;
		color: #505050;
	}

	span.cm-highlight {
		background: $yellow;
	}

	.CodeMirror-activeline-background {
		background: #DDDCDC !important;
	}

	.CodeMirror-matchingbracket {
		text-decoration: underline;
		color: white !important;
	}
}