@import 'global';
@import 'rendered';

#container {
	clear: both;
}

#index-cta {
	text-align: center;

	h1 {
		font-size: 36px;
		margin: 20px 0 20px 0;
	}

	#index-cta-button {
		display: inline-block;
		border: 1px solid $green;
		background-color: $green;
		color: #fff;
		padding: 10px;
		margin: 20px;
		font-size: 24px;
	}

	#index-cta-button:hover {
		background-color: #fff;
		color: $green;
	}
}

#index-demo {
	box-shadow: 0 0 15px 4px #ccc;
	height: 500px + 50px;
	margin-top: 20px;

	#index-demo-caption {
		width: 100%;
		text-align: center;
		font-size: 32px;
		font-family: $serif-stack;
		height: 50px;
		line-height: 50px;
	}

	#md-raw, .cm-s-nanote {
		border: none;
		outline: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;

		background-color: $gray;
		width: 50%;
		padding: 10px;
		margin: 0;

		resize: none;
		font-size: 16px;
		line-height: 135%;

		height: 500px;

		overflow-y: hidden;
	}

	#md-rendered {
		float: right;
		clear: none;
		width: 50%;
		margin: 0;
		padding: 0 15px 0 15px;
	}
}

#index-features {
	padding: 0;
	position: relative;
	margin: 15px auto 0;
}

.index-feature-block {
	width: 25%;
	float: left;
	display: inline-block;

	h1 {
		font-size: 22px;
		color: #555;
		margin-top: 10px;
		height: 25px;
	}

	p {
		padding: 10px 15px 40px 0;
		line-height: 160%;
		font-size: 16px;
		color: #222;
	}
}

footer {
	font-size: 16px;
	width: 100%;
	text-align: center;
	clear: both;
	color: #333;
	margin: 10px 0 20px 0;
}