// styles applied to all mobile pages

html, body {
	max-width: 480px;
	width: 480px;
	margin: 0;
	padding: 0;
}

header {
	max-width: 480px;
	width: 480px;
}

#header-left {
	padding-left: 15px;
}

#header-right {
	display: none;
}

.mobile-only {
	display: block;
}