@import 'global';
@import 'rendered';

* {
	margin: 0;
}
html,body {
	height: 100%;
	font-family: $serif-stack;
}



header {
	margin-top: 0;

	h1 {
		font-size: 30px;
		color: $dark;
	}
}

$profileFooterHeight: 30px;

#container {
	min-height: 100%;
	margin: 0 auto $profileFooterHeight*-1;
	padding-top: 15px;
}

footer, .push {
	height: $profileFooterHeight;
	margin: 0;
	padding: 0;
	text-align: center;
	p {
		color: $dark;
		font-family: $serif-stack;
		font-size: 18px;
	}
}

// Note styles

#profile-note-meta {
	font-family: $serif-stack;
	margin-bottom: 20px;

	h1 {
		font-size: 36px;
		padding-bottom: 5px;
	}

	p {
		color: $dark;
		font-family: $sans-stack;
		margin: 10px 0 10px 0;
	}

	padding-bottom: 5px;
	border-bottom: 1px solid $gray;
}

