@import 'global';

#container {
	width: 50%;
	clear: both;

	h1 {
		font-size: 24px;
	}

	p {
		margin: 10px 0 10px 0;
	}

	label, input {
		display: block;
	}

	label {
		font-size: 18px;
	}

	input {
		outline: none;
		border: none;
		background-color: $gray;
		padding: 5px;
		display: block;
		width: 50%;
		margin: 10px 0 10px 0;
	}
}

#recover-message {
	display: none;
	line-height: 25px;
	width: 100%;
}

#recover-message .icon {
	float: left;
}


#recover-form input {
	display: block;
}

.button {
	background-color: $gray;
	height: 40px;
	padding: 4px;
}