@import 'global';

#container {
	clear: both;
	margin-bottom: 50px;
	padding-top: 20px;

	h1 {
		font-size: 24px;
		margin-bottom: 20px;
	}

	p {
		line-height: 150%;
		margin-bottom: 20px;
	}

	label, input {
		display: block;
	}

	label {
		font-size: 18px;
	}

	input {
		outline: none;
		border: none;
		background-color: $gray;
		padding: 5px;
		display: block;
		width: 90%;
		margin: 10px 0 10px 0;
	}
}

#register-left {
	float: left;
	width: 60%;
	padding-right: 30px;
}

#register-right {
	float: right;
	width: 40%;
}

#register-message {
	display: none;

	.icon {
		float: left;
	}

	span {
		float: left;
	}
}

.button {
	background-color: $gray;
	height: 40px;
	padding: 4px;
}