// styles for rendered markdown, both in the editor and in the actual static note
@import 'global';

#md-rendered {
	overflow-wrap: break-word;

	font-family: $serif-stack;

	clear: both;

	line-height: 140%;
	font-size: 18px;
	
	h1,h2,h3,h4,h5,h6 {
		margin-bottom: 15px;
		line-height: 130%;
	}

	h1 {
		font-size: 28px;
	}

	h2 {
		font-size: 24px;
		color: #444;
	}

	h3 {
		font-size: 22px;
		color: #666;
	}

	h4 {
		font-size: 20px;
	}

	h5 {
		font-size: 20px;
		color: #444;
	}

	h6 {
		font-size: 20px;
		color: #666;
	}

	p {
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
		line-height: 160%;
	}

	a {
		color: $dark;
	}

	a:hover {
		text-decoration: underline;
	}

	em {
		font-style: italic;
	}

	strong {
		font-weight: bold;
	}

	blockquote {
		border-left: 3px solid #ccc;
		padding-left: 7px;
		font-style: italic;
	}

	pre, code {
		font-family: $monospace-stack;
		//white-space: normal;
		tab-size: 4;
	}

	pre {
		padding: 5px;
		background-color: $gray;
	}

	ol {
		list-style-type: decimal;
		margin-left: 20px;
	}

	ul {
		list-style-type: square;
		margin-left: 20px;
	}

	li {
		margin-bottom: 5px;
		margin-top: 5px;
	}

	img {
		max-width: 50%;
	}

	.highlight {
		background-color: $yellow;
	}

}