@import 'global';

#container {
	clear: both;

	margin-bottom: 30px;

	h1 {
		font-size: 24px;
		margin: 10px 0 10px 0;
	}

	p {
		line-height: 150%;
		max-width: 60%;
	}
}

.button {
	height: 40px;
	padding: 4px;
	margin-top: 15px;
	clear: both;

	span {
		vertical-align: middle;
	}

	.icon {
		float: left;
	}
	
	background-color: $gray;
}

.settings-block {
	margin: 10px 0 10px 0;

	label {
		color: $dark;
		display:inline-block;
	}

	input {
		display: inline-block;
		border: none;
		outline: none;
		background-color: $gray;
		margin: 10px 0 10px 0;
		padding: 5px;
	}
}

.settings-label {
	font-size: 20px;
}

.settings-value {
	display: inline-block;
	padding: 5px;
	background-color: $gray;
	margin: 10px 0 10px 0;
}

.settings-remark {
	color: $dark;
	font-size: 14px;
}

#settings-message {
	height: 25px;
	line-height: 25px;

	p {
		display: inline-block;
		position: relative;
		float: left;
	}

	.icon {
		float: left;
	}
}

.settings-break {
	width: 100%;
	display: block;
	border-bottom: 1px solid $gray;
	margin: 10px 0 10px 0;
}

#settings-private-remark {
	height: 30px;

	span {
		font-size: 16px;
		height:30px;
		line-height: 30px;
		position: relative;
	}

	.icon {
		position: relative;
	}
}

#settings-cancel-sub:hover {
	background-color: $red;
	color: #fff;	
}

#settings-account-info span, #settings-apikey p span {
	background-color: $gray;
	color: #000;
	padding: 5px;
}