<!DOCTYPE html>
<html>
	{{ template "head" . }}

	<body>
		<div id="container">
			<div id="profile-note-meta">
				<h1>{{ .category.Name }}</h1>
			</div>
			<div id="md-rendered">
				<h2>Notes in {{ .category.Name }}</h2>
				<ul>
					{{ range $ind, $note := .notes }}
					<li>
						<a href="/n/{{ $note.Slug}}"]>{{ $note.Title }}</a>
					</li>
					{{ end }}
				</ul>
			</div>
		</div>
	</body>
</html>