<!DOCTYPE html>
<html>
	{{ template "head" . }}

	<body>
		<div id="container">
			<div id="profile-note-meta">
				<h1>{{ .title }}</h1>
				<p>Created by <a href= "//{{ .owner }}.nanote.co">{{ .owner }}</a> on {{ .created }}. Last updated {{ .updated }}.

				{{ if eq .privacy "unlisted" }}
					<p class="bad">This note is unlisted. The author may not want it accessed by others. Please be careful when sharing!</p>
				{{ end }}

			</div>

			<div id="md-rendered">
				{{ .content }}
			</div>
			<div class="push"></div>
		</div>
		{{ template "footer.html" }}
	</body>
</html>