<!DOCTYPE html>
<html>
	{{ template "head" . }}

	<body>
		<div id="container">
			<div id="profile-note-meta">
				<h1 id="profile-note-title">{{ .username }}'s profile</h1>
				<p>{{ .username }} has {{ .noteCount }} 
					{{ if eq .noteCount 1 }} note {{ else }} notes {{ end }} in {{ .catCount }} {{ if eq .catCount 1 }} category {{ else }} categories {{ end }}.
				</p>
			</div>
			<div id="md-rendered">
				<h2>{{ .username }}'s notes:</h2>
				<ul>
					{{ range $ind, $note := .notes }}
						<li>
							<a href="/n/{{ $note.Slug}}"]>{{ $note.Title }}</a>
						</li>
					{{ end }}
				</ul>
				<h2>{{ .username }}'s categories:</h2>
				<ul>
					{{ range $ind, $cat := .cats }}
						<li>
							<a href="/c/{{ $cat.Id }}">{{ $cat.Name }}</a>
						</li>
					{{ end }}
				</ul>
			</div>
			<div class="push"></div>
		</div>
		{{ template "footer.html" }}
	</body>
</html>