[class^="emojijs-emoji-"],
[class*=" emojijs-emoji-"]{
	background-size:100%;
	background-repeat:no-repeat;
	width:1em;
	height:1em;
	vertical-align:bottom;
	display:inline-block;
}

.emojijs-emoji-26c5{
	background-image:url('//twemoji.maxcdn.com/72x72/26c5.png');
}
.emojijs-emoji-1f48c{
	background-image:url('//twemoji.maxcdn.com/72x72/1f48c.png');
}
.emojijs-emoji-1f605{
	background-image:url('//twemoji.maxcdn.com/72x72/1f605.png');
}
.emojijs-emoji-1f466{
	background-image:url('//twemoji.maxcdn.com/72x72/1f466.png');
}
.emojijs-emoji-1f467{
	background-image:url('//twemoji.maxcdn.com/72x72/1f467.png');
}
.emojijs-emoji-1f48b{
	background-image:url('//twemoji.maxcdn.com/72x72/1f48b.png');
}
.emojijs-emoji-1f468{
	background-image:url('//twemoji.maxcdn.com/72x72/1f468.png');
}
.emojijs-emoji-1f469{
	background-image:url('//twemoji.maxcdn.com/72x72/1f469.png');
}
.emojijs-emoji-1f455{
	background-image:url('//twemoji.maxcdn.com/72x72/1f455.png');
}
.emojijs-emoji-1f45e{
	background-image:url('//twemoji.maxcdn.com/72x72/1f45e.png');
}
.emojijs-emoji-1f4f7{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4f7.png');
}
.emojijs-emoji-260e{
	background-image:url('//twemoji.maxcdn.com/72x72/260e.png');
}
.emojijs-emoji-1f4f1{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4f1.png');
}
.emojijs-emoji-1f4e0{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4e0.png');
}
.emojijs-emoji-1f4bb{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4bb.png');
}
.emojijs-emoji-1f44a{
	background-image:url('//twemoji.maxcdn.com/72x72/1f44a.png');
}
.emojijs-emoji-1f44d{
	background-image:url('//twemoji.maxcdn.com/72x72/1f44d.png');
}
.emojijs-emoji-261d{
	background-image:url('//twemoji.maxcdn.com/72x72/261d.png');
}
.emojijs-emoji-270a{
	background-image:url('//twemoji.maxcdn.com/72x72/270a.png');
}
.emojijs-emoji-270c{
	background-image:url('//twemoji.maxcdn.com/72x72/270c.png');
}
.emojijs-emoji-270b{
	background-image:url('//twemoji.maxcdn.com/72x72/270b.png');
}
.emojijs-emoji-1f3bf{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3bf.png');
}
.emojijs-emoji-26f3{
	background-image:url('//twemoji.maxcdn.com/72x72/26f3.png');
}
.emojijs-emoji-1f3be{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3be.png');
}
.emojijs-emoji-26be{
	background-image:url('//twemoji.maxcdn.com/72x72/26be.png');
}
.emojijs-emoji-1f3c4{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3c4.png');
}
.emojijs-emoji-26bd{
	background-image:url('//twemoji.maxcdn.com/72x72/26bd.png');
}
.emojijs-emoji-1f3a3{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3a3.png');
}
.emojijs-emoji-1f434{
	background-image:url('//twemoji.maxcdn.com/72x72/1f434.png');
}
.emojijs-emoji-1f697{
	background-image:url('//twemoji.maxcdn.com/72x72/1f697.png');
}
.emojijs-emoji-26f5{
	background-image:url('//twemoji.maxcdn.com/72x72/26f5.png');
}
.emojijs-emoji-2708{
	background-image:url('//twemoji.maxcdn.com/72x72/2708.png');
}
.emojijs-emoji-1f683{
	background-image:url('//twemoji.maxcdn.com/72x72/1f683.png');
}
.emojijs-emoji-1f685{
	background-image:url('//twemoji.maxcdn.com/72x72/1f685.png');
}
.emojijs-emoji-2753{
	background-image:url('//twemoji.maxcdn.com/72x72/2753.png');
}
.emojijs-emoji-2757{
	background-image:url('//twemoji.maxcdn.com/72x72/2757.png');
}
.emojijs-emoji-2764{
	background-image:url('//twemoji.maxcdn.com/72x72/2764.png');
}
.emojijs-emoji-1f494{
	background-image:url('//twemoji.maxcdn.com/72x72/1f494.png');
}
.emojijs-emoji-1f550{
	background-image:url('//twemoji.maxcdn.com/72x72/1f550.png');
}
.emojijs-emoji-1f551{
	background-image:url('//twemoji.maxcdn.com/72x72/1f551.png');
}
.emojijs-emoji-1f552{
	background-image:url('//twemoji.maxcdn.com/72x72/1f552.png');
}
.emojijs-emoji-1f553{
	background-image:url('//twemoji.maxcdn.com/72x72/1f553.png');
}
.emojijs-emoji-1f554{
	background-image:url('//twemoji.maxcdn.com/72x72/1f554.png');
}
.emojijs-emoji-1f555{
	background-image:url('//twemoji.maxcdn.com/72x72/1f555.png');
}
.emojijs-emoji-1f556{
	background-image:url('//twemoji.maxcdn.com/72x72/1f556.png');
}
.emojijs-emoji-1f557{
	background-image:url('//twemoji.maxcdn.com/72x72/1f557.png');
}
.emojijs-emoji-1f558{
	background-image:url('//twemoji.maxcdn.com/72x72/1f558.png');
}
.emojijs-emoji-23f0{
	background-image:url('//twemoji.maxcdn.com/72x72/23f0.png');
}
.emojijs-emoji-1f55a{
	background-image:url('//twemoji.maxcdn.com/72x72/1f55a.png');
}
.emojijs-emoji-1f55b{
	background-image:url('//twemoji.maxcdn.com/72x72/1f55b.png');
}
.emojijs-emoji-1f338{
	background-image:url('//twemoji.maxcdn.com/72x72/1f338.png');
}
.emojijs-emoji-1f531{
	background-image:url('//twemoji.maxcdn.com/72x72/1f531.png');
}
.emojijs-emoji-1f339{
	background-image:url('//twemoji.maxcdn.com/72x72/1f339.png');
}
.emojijs-emoji-1f384{
	background-image:url('//twemoji.maxcdn.com/72x72/1f384.png');
}
.emojijs-emoji-1f48d{
	background-image:url('//twemoji.maxcdn.com/72x72/1f48d.png');
}
.emojijs-emoji-1f48e{
	background-image:url('//twemoji.maxcdn.com/72x72/1f48e.png');
}
.emojijs-emoji-1f3e0{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3e0.png');
}
.emojijs-emoji-26ea{
	background-image:url('//twemoji.maxcdn.com/72x72/26ea.png');
}
.emojijs-emoji-1f3e2{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3e2.png');
}
.emojijs-emoji-1f689{
	background-image:url('//twemoji.maxcdn.com/72x72/1f689.png');
}
.emojijs-emoji-26fd{
	background-image:url('//twemoji.maxcdn.com/72x72/26fd.png');
}
.emojijs-emoji-1f5fb{
	background-image:url('//twemoji.maxcdn.com/72x72/1f5fb.png');
}
.emojijs-emoji-1f3a4{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3a4.png');
}
.emojijs-emoji-1f3a5{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3a5.png');
}
.emojijs-emoji-1f3b5{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3b5.png');
}
.emojijs-emoji-1f511{
	background-image:url('//twemoji.maxcdn.com/72x72/1f511.png');
}
.emojijs-emoji-1f3b7{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3b7.png');
}
.emojijs-emoji-1f3b8{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3b8.png');
}
.emojijs-emoji-1f3ba{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3ba.png');
}
.emojijs-emoji-1f374{
	background-image:url('//twemoji.maxcdn.com/72x72/1f374.png');
}
.emojijs-emoji-1f377{
	background-image:url('//twemoji.maxcdn.com/72x72/1f377.png');
}
.emojijs-emoji-2615{
	background-image:url('//twemoji.maxcdn.com/72x72/2615.png');
}
.emojijs-emoji-1f370{
	background-image:url('//twemoji.maxcdn.com/72x72/1f370.png');
}
.emojijs-emoji-1f37a{
	background-image:url('//twemoji.maxcdn.com/72x72/1f37a.png');
}
.emojijs-emoji-26c4{
	background-image:url('//twemoji.maxcdn.com/72x72/26c4.png');
}
.emojijs-emoji-2601{
	background-image:url('//twemoji.maxcdn.com/72x72/2601.png');
}
.emojijs-emoji-2600{
	background-image:url('//twemoji.maxcdn.com/72x72/2600.png');
}
.emojijs-emoji-2614{
	background-image:url('//twemoji.maxcdn.com/72x72/2614.png');
}
.emojijs-emoji-1f313{
	background-image:url('//twemoji.maxcdn.com/72x72/1f313.png');
}
.emojijs-emoji-1f304{
	background-image:url('//twemoji.maxcdn.com/72x72/1f304.png');
}
.emojijs-emoji-1f47c{
	background-image:url('//twemoji.maxcdn.com/72x72/1f47c.png');
}
.emojijs-emoji-1f431{
	background-image:url('//twemoji.maxcdn.com/72x72/1f431.png');
}
.emojijs-emoji-1f42f{
	background-image:url('//twemoji.maxcdn.com/72x72/1f42f.png');
}
.emojijs-emoji-1f43b{
	background-image:url('//twemoji.maxcdn.com/72x72/1f43b.png');
}
.emojijs-emoji-1f429{
	background-image:url('//twemoji.maxcdn.com/72x72/1f429.png');
}
.emojijs-emoji-1f42d{
	background-image:url('//twemoji.maxcdn.com/72x72/1f42d.png');
}
.emojijs-emoji-1f433{
	background-image:url('//twemoji.maxcdn.com/72x72/1f433.png');
}
.emojijs-emoji-1f427{
	background-image:url('//twemoji.maxcdn.com/72x72/1f427.png');
}
.emojijs-emoji-1f60a{
	background-image:url('//twemoji.maxcdn.com/72x72/1f60a.png');
}
.emojijs-emoji-1f603{
	background-image:url('//twemoji.maxcdn.com/72x72/1f603.png');
}
.emojijs-emoji-1f61e{
	background-image:url('//twemoji.maxcdn.com/72x72/1f61e.png');
}
.emojijs-emoji-1f620{
	background-image:url('//twemoji.maxcdn.com/72x72/1f620.png');
}
.emojijs-emoji-1f4a9{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4a9.png');
}
.emojijs-emoji-1f4ea{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4ea.png');
}
.emojijs-emoji-1f4ee{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4ee.png');
}
.emojijs-emoji-2709{
	background-image:url('//twemoji.maxcdn.com/72x72/2709.png');
}
.emojijs-emoji-1f4f2{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4f2.png');
}
.emojijs-emoji-1f61c{
	background-image:url('//twemoji.maxcdn.com/72x72/1f61c.png');
}
.emojijs-emoji-1f60d{
	background-image:url('//twemoji.maxcdn.com/72x72/1f60d.png');
}
.emojijs-emoji-1f631{
	background-image:url('//twemoji.maxcdn.com/72x72/1f631.png');
}
.emojijs-emoji-1f613{
	background-image:url('//twemoji.maxcdn.com/72x72/1f613.png');
}
.emojijs-emoji-1f435{
	background-image:url('//twemoji.maxcdn.com/72x72/1f435.png');
}
.emojijs-emoji-1f419{
	background-image:url('//twemoji.maxcdn.com/72x72/1f419.png');
}
.emojijs-emoji-1f437{
	background-image:url('//twemoji.maxcdn.com/72x72/1f437.png');
}
.emojijs-emoji-1f47d{
	background-image:url('//twemoji.maxcdn.com/72x72/1f47d.png');
}
.emojijs-emoji-1f680{
	background-image:url('//twemoji.maxcdn.com/72x72/1f680.png');
}
.emojijs-emoji-1f451{
	background-image:url('//twemoji.maxcdn.com/72x72/1f451.png');
}
.emojijs-emoji-1f4a1{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4a1.png');
}
.emojijs-emoji-1f331{
	background-image:url('//twemoji.maxcdn.com/72x72/1f331.png');
}
.emojijs-emoji-1f48f{
	background-image:url('//twemoji.maxcdn.com/72x72/1f48f.png');
}
.emojijs-emoji-1f381{
	background-image:url('//twemoji.maxcdn.com/72x72/1f381.png');
}
.emojijs-emoji-1f52b{
	background-image:url('//twemoji.maxcdn.com/72x72/1f52b.png');
}
.emojijs-emoji-1f50d{
	background-image:url('//twemoji.maxcdn.com/72x72/1f50d.png');
}
.emojijs-emoji-1f3c3{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3c3.png');
}
.emojijs-emoji-1f528{
	background-image:url('//twemoji.maxcdn.com/72x72/1f528.png');
}
.emojijs-emoji-1f386{
	background-image:url('//twemoji.maxcdn.com/72x72/1f386.png');
}
.emojijs-emoji-1f341{
	background-image:url('//twemoji.maxcdn.com/72x72/1f341.png');
}
.emojijs-emoji-1f342{
	background-image:url('//twemoji.maxcdn.com/72x72/1f342.png');
}
.emojijs-emoji-1f47f{
	background-image:url('//twemoji.maxcdn.com/72x72/1f47f.png');
}
.emojijs-emoji-1f47b{
	background-image:url('//twemoji.maxcdn.com/72x72/1f47b.png');
}
.emojijs-emoji-1f480{
	background-image:url('//twemoji.maxcdn.com/72x72/1f480.png');
}
.emojijs-emoji-1f525{
	background-image:url('//twemoji.maxcdn.com/72x72/1f525.png');
}
.emojijs-emoji-1f4bc{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4bc.png');
}
.emojijs-emoji-1f4ba{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4ba.png');
}
.emojijs-emoji-1f354{
	background-image:url('//twemoji.maxcdn.com/72x72/1f354.png');
}
.emojijs-emoji-26f2{
	background-image:url('//twemoji.maxcdn.com/72x72/26f2.png');
}
.emojijs-emoji-26fa{
	background-image:url('//twemoji.maxcdn.com/72x72/26fa.png');
}
.emojijs-emoji-2668{
	background-image:url('//twemoji.maxcdn.com/72x72/2668.png');
}
.emojijs-emoji-1f3a1{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3a1.png');
}
.emojijs-emoji-1f3ab{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3ab.png');
}
.emojijs-emoji-1f4bf{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4bf.png');
}
.emojijs-emoji-1f4c0{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4c0.png');
}
.emojijs-emoji-1f4fb{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4fb.png');
}
.emojijs-emoji-1f4fc{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4fc.png');
}
.emojijs-emoji-1f4fa{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4fa.png');
}
.emojijs-emoji-1f47e{
	background-image:url('//twemoji.maxcdn.com/72x72/1f47e.png');
}
.emojijs-emoji-303d{
	background-image:url('//twemoji.maxcdn.com/72x72/303d.png');
}
.emojijs-emoji-1f004{
	background-image:url('//twemoji.maxcdn.com/72x72/1f004.png');
}
.emojijs-emoji-1f19a{
	background-image:url('//twemoji.maxcdn.com/72x72/1f19a.png');
}
.emojijs-emoji-1f4b0{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4b0.png');
}
.emojijs-emoji-1f3af{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3af.png');
}
.emojijs-emoji-1f3c6{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3c6.png');
}
.emojijs-emoji-1f3c1{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3c1.png');
}
.emojijs-emoji-1f3b0{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3b0.png');
}
.emojijs-emoji-1f40e{
	background-image:url('//twemoji.maxcdn.com/72x72/1f40e.png');
}
.emojijs-emoji-1f6a4{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6a4.png');
}
.emojijs-emoji-1f6b2{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6b2.png');
}
.emojijs-emoji-26d4{
	background-image:url('//twemoji.maxcdn.com/72x72/26d4.png');
}
.emojijs-emoji-1f6b9{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6b9.png');
}
.emojijs-emoji-1f6ba{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6ba.png');
}
.emojijs-emoji-1f6bc{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6bc.png');
}
.emojijs-emoji-1f489{
	background-image:url('//twemoji.maxcdn.com/72x72/1f489.png');
}
.emojijs-emoji-1f4a4{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4a4.png');
}
.emojijs-emoji-26a1{
	background-image:url('//twemoji.maxcdn.com/72x72/26a1.png');
}
.emojijs-emoji-1f460{
	background-image:url('//twemoji.maxcdn.com/72x72/1f460.png');
}
.emojijs-emoji-1f6c0{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6c0.png');
}
.emojijs-emoji-1f6bd{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6bd.png');
}
.emojijs-emoji-1f50a{
	background-image:url('//twemoji.maxcdn.com/72x72/1f50a.png');
}
.emojijs-emoji-1f4e2{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4e2.png');
}
.emojijs-emoji-1f38c{
	background-image:url('//twemoji.maxcdn.com/72x72/1f38c.png');
}
.emojijs-emoji-1f50f{
	background-image:url('//twemoji.maxcdn.com/72x72/1f50f.png');
}
.emojijs-emoji-1f513{
	background-image:url('//twemoji.maxcdn.com/72x72/1f513.png');
}
.emojijs-emoji-1f306{
	background-image:url('//twemoji.maxcdn.com/72x72/1f306.png');
}
.emojijs-emoji-1f373{
	background-image:url('//twemoji.maxcdn.com/72x72/1f373.png');
}
.emojijs-emoji-1f4c7{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4c7.png');
}
.emojijs-emoji-1f4b1{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4b1.png');
}
.emojijs-emoji-1f4b9{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4b9.png');
}
.emojijs-emoji-1f4e1{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4e1.png');
}
.emojijs-emoji-1f4aa{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4aa.png');
}
.emojijs-emoji-1f3e6{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3e6.png');
}
.emojijs-emoji-1f6a5{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6a5.png');
}
.emojijs-emoji-1f17f{
	background-image:url('//twemoji.maxcdn.com/72x72/1f17f.png');
}
.emojijs-emoji-1f68f{
	background-image:url('//twemoji.maxcdn.com/72x72/1f68f.png');
}
.emojijs-emoji-1f6bb{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6bb.png');
}
.emojijs-emoji-1f46e{
	background-image:url('//twemoji.maxcdn.com/72x72/1f46e.png');
}
.emojijs-emoji-1f3e3{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3e3.png');
}
.emojijs-emoji-1f3e7{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3e7.png');
}
.emojijs-emoji-1f3e5{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3e5.png');
}
.emojijs-emoji-1f3ea{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3ea.png');
}
.emojijs-emoji-1f3eb{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3eb.png');
}
.emojijs-emoji-1f3e8{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3e8.png');
}
.emojijs-emoji-1f68c{
	background-image:url('//twemoji.maxcdn.com/72x72/1f68c.png');
}
.emojijs-emoji-1f695{
	background-image:url('//twemoji.maxcdn.com/72x72/1f695.png');
}
.emojijs-emoji-1f6b6{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6b6.png');
}
.emojijs-emoji-2693{
	background-image:url('//twemoji.maxcdn.com/72x72/2693.png');
}
.emojijs-emoji-1f201{
	background-image:url('//twemoji.maxcdn.com/72x72/1f201.png');
}
.emojijs-emoji-1f49f{
	background-image:url('//twemoji.maxcdn.com/72x72/1f49f.png');
}
.emojijs-emoji-2734{
	background-image:url('//twemoji.maxcdn.com/72x72/2734.png');
}
.emojijs-emoji-2733{
	background-image:url('//twemoji.maxcdn.com/72x72/2733.png');
}
.emojijs-emoji-1f51e{
	background-image:url('//twemoji.maxcdn.com/72x72/1f51e.png');
}
.emojijs-emoji-1f6ad{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6ad.png');
}
.emojijs-emoji-1f530{
	background-image:url('//twemoji.maxcdn.com/72x72/1f530.png');
}
.emojijs-emoji-267f{
	background-image:url('//twemoji.maxcdn.com/72x72/267f.png');
}
.emojijs-emoji-1f4f6{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4f6.png');
}
.emojijs-emoji-2665{
	background-image:url('//twemoji.maxcdn.com/72x72/2665.png');
}
.emojijs-emoji-2666{
	background-image:url('//twemoji.maxcdn.com/72x72/2666.png');
}
.emojijs-emoji-2660{
	background-image:url('//twemoji.maxcdn.com/72x72/2660.png');
}
.emojijs-emoji-2663{
	background-image:url('//twemoji.maxcdn.com/72x72/2663.png');
}
.emojijs-emoji-27bf{
	background-image:url('//twemoji.maxcdn.com/72x72/27bf.png');
}
.emojijs-emoji-1f195{
	background-image:url('//twemoji.maxcdn.com/72x72/1f195.png');
}
.emojijs-emoji-1f199{
	background-image:url('//twemoji.maxcdn.com/72x72/1f199.png');
}
.emojijs-emoji-1f192{
	background-image:url('//twemoji.maxcdn.com/72x72/1f192.png');
}
.emojijs-emoji-1f236{
	background-image:url('//twemoji.maxcdn.com/72x72/1f236.png');
}
.emojijs-emoji-1f21a{
	background-image:url('//twemoji.maxcdn.com/72x72/1f21a.png');
}
.emojijs-emoji-1f237{
	background-image:url('//twemoji.maxcdn.com/72x72/1f237.png');
}
.emojijs-emoji-1f238{
	background-image:url('//twemoji.maxcdn.com/72x72/1f238.png');
}
.emojijs-emoji-26aa{
	background-image:url('//twemoji.maxcdn.com/72x72/26aa.png');
}
.emojijs-emoji-25aa{
	background-image:url('//twemoji.maxcdn.com/72x72/25aa.png');
}
.emojijs-emoji-25ab{
	background-image:url('//twemoji.maxcdn.com/72x72/25ab.png');
}
.emojijs-emoji-1f250{
	background-image:url('//twemoji.maxcdn.com/72x72/1f250.png');
}
.emojijs-emoji-1f239{
	background-image:url('//twemoji.maxcdn.com/72x72/1f239.png');
}
.emojijs-emoji-1f202{
	background-image:url('//twemoji.maxcdn.com/72x72/1f202.png');
}
.emojijs-emoji-1f194{
	background-image:url('//twemoji.maxcdn.com/72x72/1f194.png');
}
.emojijs-emoji-1f235{
	background-image:url('//twemoji.maxcdn.com/72x72/1f235.png');
}
.emojijs-emoji-1f233{
	background-image:url('//twemoji.maxcdn.com/72x72/1f233.png');
}
.emojijs-emoji-1f22f{
	background-image:url('//twemoji.maxcdn.com/72x72/1f22f.png');
}
.emojijs-emoji-1f23a{
	background-image:url('//twemoji.maxcdn.com/72x72/1f23a.png');
}
.emojijs-emoji-1f446{
	background-image:url('//twemoji.maxcdn.com/72x72/1f446.png');
}
.emojijs-emoji-1f447{
	background-image:url('//twemoji.maxcdn.com/72x72/1f447.png');
}
.emojijs-emoji-1f448{
	background-image:url('//twemoji.maxcdn.com/72x72/1f448.png');
}
.emojijs-emoji-1f449{
	background-image:url('//twemoji.maxcdn.com/72x72/1f449.png');
}
.emojijs-emoji-2b06{
	background-image:url('//twemoji.maxcdn.com/72x72/2b06.png');
}
.emojijs-emoji-2b07{
	background-image:url('//twemoji.maxcdn.com/72x72/2b07.png');
}
.emojijs-emoji-27a1{
	background-image:url('//twemoji.maxcdn.com/72x72/27a1.png');
}
.emojijs-emoji-2b05{
	background-image:url('//twemoji.maxcdn.com/72x72/2b05.png');
}
.emojijs-emoji-2197{
	background-image:url('//twemoji.maxcdn.com/72x72/2197.png');
}
.emojijs-emoji-2196{
	background-image:url('//twemoji.maxcdn.com/72x72/2196.png');
}
.emojijs-emoji-2198{
	background-image:url('//twemoji.maxcdn.com/72x72/2198.png');
}
.emojijs-emoji-2199{
	background-image:url('//twemoji.maxcdn.com/72x72/2199.png');
}
.emojijs-emoji-25b6{/*right arrow */
	background-image:url('//twemoji.maxcdn.com/72x72/25b6.png');
}
.emojijs-emoji-25c0{
	background-image:url('//twemoji.maxcdn.com/72x72/25c0.png');
}
.emojijs-emoji-23e9{
	background-image:url('//twemoji.maxcdn.com/72x72/23e9.png');
}
.emojijs-emoji-23ea{
	background-image:url('//twemoji.maxcdn.com/72x72/23ea.png');
}
.emojijs-emoji-1f52e{
	background-image:url('//twemoji.maxcdn.com/72x72/1f52e.png');
}
.emojijs-emoji-2648{
	background-image:url('//twemoji.maxcdn.com/72x72/2648.png');
}
.emojijs-emoji-2649{
	background-image:url('//twemoji.maxcdn.com/72x72/2649.png');
}
.emojijs-emoji-264a{
	background-image:url('//twemoji.maxcdn.com/72x72/264a.png');
}
.emojijs-emoji-264b{
	background-image:url('//twemoji.maxcdn.com/72x72/264b.png');
}
.emojijs-emoji-264c{
	background-image:url('//twemoji.maxcdn.com/72x72/264c.png');
}
.emojijs-emoji-264d{
	background-image:url('//twemoji.maxcdn.com/72x72/264d.png');
}
.emojijs-emoji-264e{
	background-image:url('//twemoji.maxcdn.com/72x72/264e.png');
}
.emojijs-emoji-264f{
	background-image:url('//twemoji.maxcdn.com/72x72/264f.png');
}
.emojijs-emoji-2650{
	background-image:url('//twemoji.maxcdn.com/72x72/2650.png');
}
.emojijs-emoji-2651{
	background-image:url('//twemoji.maxcdn.com/72x72/2651.png');
}
.emojijs-emoji-2652{
	background-image:url('//twemoji.maxcdn.com/72x72/2652.png');
}
.emojijs-emoji-2653{
	background-image:url('//twemoji.maxcdn.com/72x72/2653.png');
}
.emojijs-emoji-26ce{
	background-image:url('//twemoji.maxcdn.com/72x72/26ce.png');
}
.emojijs-emoji-1f51d{
	background-image:url('//twemoji.maxcdn.com/72x72/1f51d.png');
}
.emojijs-emoji-1f197{
	background-image:url('//twemoji.maxcdn.com/72x72/1f197.png');
}
.emojijs-emoji-00a9{
	background-image:url('//twemoji.maxcdn.com/72x72/00a9.png');
}
.emojijs-emoji-00ae{
	background-image:url('//twemoji.maxcdn.com/72x72/00ae.png');
}
.emojijs-emoji-1f4f3{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4f3.png');
}
.emojijs-emoji-1f4f4{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4f4.png');
}
.emojijs-emoji-26a0{
	background-image:url('//twemoji.maxcdn.com/72x72/26a0.png');
}
.emojijs-emoji-1f481{
	background-image:url('//twemoji.maxcdn.com/72x72/1f481.png');
}
.emojijs-emoji-270f{
	background-image:url('//twemoji.maxcdn.com/72x72/270f.png');
}
.emojijs-emoji-1f454{
	background-image:url('//twemoji.maxcdn.com/72x72/1f454.png');
}
.emojijs-emoji-1f33a{
	background-image:url('//twemoji.maxcdn.com/72x72/1f33a.png');
}
.emojijs-emoji-1f337{
	background-image:url('//twemoji.maxcdn.com/72x72/1f337.png');
}
.emojijs-emoji-1f33b{
	background-image:url('//twemoji.maxcdn.com/72x72/1f33b.png');
}
.emojijs-emoji-1f490{
	background-image:url('//twemoji.maxcdn.com/72x72/1f490.png');
}
.emojijs-emoji-1f334{
	background-image:url('//twemoji.maxcdn.com/72x72/1f334.png');
}
.emojijs-emoji-1f335{
	background-image:url('//twemoji.maxcdn.com/72x72/1f335.png');
}
.emojijs-emoji-1f6be{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6be.png');
}
.emojijs-emoji-1f3a7{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3a7.png');
}
.emojijs-emoji-1f376{
	background-image:url('//twemoji.maxcdn.com/72x72/1f376.png');
}
.emojijs-emoji-1f37b{
	background-image:url('//twemoji.maxcdn.com/72x72/1f37b.png');
}
.emojijs-emoji-3297{
	background-image:url('//twemoji.maxcdn.com/72x72/3297.png');
}
.emojijs-emoji-1f6ac{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6ac.png');
}
.emojijs-emoji-1f48a{
	background-image:url('//twemoji.maxcdn.com/72x72/1f48a.png');
}
.emojijs-emoji-1f388{
	background-image:url('//twemoji.maxcdn.com/72x72/1f388.png');
}
.emojijs-emoji-1f4a3{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4a3.png');
}
.emojijs-emoji-1f389{
	background-image:url('//twemoji.maxcdn.com/72x72/1f389.png');
}
.emojijs-emoji-2702{
	background-image:url('//twemoji.maxcdn.com/72x72/2702.png');
}
.emojijs-emoji-1f380{
	background-image:url('//twemoji.maxcdn.com/72x72/1f380.png');
}
.emojijs-emoji-3299{
	background-image:url('//twemoji.maxcdn.com/72x72/3299.png');
}
.emojijs-emoji-1f4bd{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4bd.png');
}
.emojijs-emoji-1f4e3{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4e3.png');
}
.emojijs-emoji-1f452{
	background-image:url('//twemoji.maxcdn.com/72x72/1f452.png');
}
.emojijs-emoji-1f457{
	background-image:url('//twemoji.maxcdn.com/72x72/1f457.png');
}
.emojijs-emoji-1f461{
	background-image:url('//twemoji.maxcdn.com/72x72/1f461.png');
}
.emojijs-emoji-1f462{
	background-image:url('//twemoji.maxcdn.com/72x72/1f462.png');
}
.emojijs-emoji-1f484{
	background-image:url('//twemoji.maxcdn.com/72x72/1f484.png');
}
.emojijs-emoji-1f485{
	background-image:url('//twemoji.maxcdn.com/72x72/1f485.png');
}
.emojijs-emoji-1f486{
	background-image:url('//twemoji.maxcdn.com/72x72/1f486.png');
}
.emojijs-emoji-1f487{
	background-image:url('//twemoji.maxcdn.com/72x72/1f487.png');
}
.emojijs-emoji-1f488{
	background-image:url('//twemoji.maxcdn.com/72x72/1f488.png');
}
.emojijs-emoji-1f458{
	background-image:url('//twemoji.maxcdn.com/72x72/1f458.png');
}
.emojijs-emoji-1f459{
	background-image:url('//twemoji.maxcdn.com/72x72/1f459.png');
}
.emojijs-emoji-1f45c{
	background-image:url('//twemoji.maxcdn.com/72x72/1f45c.png');
}
.emojijs-emoji-1f3ac{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3ac.png');
}
.emojijs-emoji-1f514{
	background-image:url('//twemoji.maxcdn.com/72x72/1f514.png');
}
.emojijs-emoji-1f3b6{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3b6.png');
}
.emojijs-emoji-1f493{
	background-image:url('//twemoji.maxcdn.com/72x72/1f493.png');
}
.emojijs-emoji-1f497{
	background-image:url('//twemoji.maxcdn.com/72x72/1f497.png');
}
.emojijs-emoji-1f498{
	background-image:url('//twemoji.maxcdn.com/72x72/1f498.png');
}
.emojijs-emoji-1f499{
	background-image:url('//twemoji.maxcdn.com/72x72/1f499.png');
}
.emojijs-emoji-1f49a{
	background-image:url('//twemoji.maxcdn.com/72x72/1f49a.png');
}
.emojijs-emoji-1f49b{
	background-image:url('//twemoji.maxcdn.com/72x72/1f49b.png');
}
.emojijs-emoji-1f49c{
	background-image:url('//twemoji.maxcdn.com/72x72/1f49c.png');
}
.emojijs-emoji-2728{
	background-image:url('//twemoji.maxcdn.com/72x72/2728.png');
}
.emojijs-emoji-2b50{
	background-image:url('//twemoji.maxcdn.com/72x72/2b50.png');
}
.emojijs-emoji-1f4a8{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4a8.png');
}
.emojijs-emoji-1f4a6{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4a6.png');
}
.emojijs-emoji-2b55{
	background-image:url('//twemoji.maxcdn.com/72x72/2b55.png');
}
.emojijs-emoji-2716{
	background-image:url('//twemoji.maxcdn.com/72x72/2716.png');
}
.emojijs-emoji-1f4a2{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4a2.png');
}
.emojijs-emoji-1f31f{
	background-image:url('//twemoji.maxcdn.com/72x72/1f31f.png');
}
.emojijs-emoji-2754{
	background-image:url('//twemoji.maxcdn.com/72x72/2754.png');
}
.emojijs-emoji-2755{
	background-image:url('//twemoji.maxcdn.com/72x72/2755.png');
}
.emojijs-emoji-1f375{
	background-image:url('//twemoji.maxcdn.com/72x72/1f375.png');
}
.emojijs-emoji-1f35e{
	background-image:url('//twemoji.maxcdn.com/72x72/1f35e.png');
}
.emojijs-emoji-1f366{
	background-image:url('//twemoji.maxcdn.com/72x72/1f366.png');
}
.emojijs-emoji-1f35f{
	background-image:url('//twemoji.maxcdn.com/72x72/1f35f.png');
}
.emojijs-emoji-1f361{
	background-image:url('//twemoji.maxcdn.com/72x72/1f361.png');
}
.emojijs-emoji-1f358{
	background-image:url('//twemoji.maxcdn.com/72x72/1f358.png');
}
.emojijs-emoji-1f35a{
	background-image:url('//twemoji.maxcdn.com/72x72/1f35a.png');
}
.emojijs-emoji-1f35d{
	background-image:url('//twemoji.maxcdn.com/72x72/1f35d.png');
}
.emojijs-emoji-1f35c{
	background-image:url('//twemoji.maxcdn.com/72x72/1f35c.png');
}
.emojijs-emoji-1f35b{
	background-image:url('//twemoji.maxcdn.com/72x72/1f35b.png');
}
.emojijs-emoji-1f359{
	background-image:url('//twemoji.maxcdn.com/72x72/1f359.png');
}
.emojijs-emoji-1f362{
	background-image:url('//twemoji.maxcdn.com/72x72/1f362.png');
}
.emojijs-emoji-1f363{
	background-image:url('//twemoji.maxcdn.com/72x72/1f363.png');
}
.emojijs-emoji-1f34e{
	background-image:url('//twemoji.maxcdn.com/72x72/1f34e.png');
}
.emojijs-emoji-1f34a{
	background-image:url('//twemoji.maxcdn.com/72x72/1f34a.png');
}
.emojijs-emoji-1f353{
	background-image:url('//twemoji.maxcdn.com/72x72/1f353.png');
}
.emojijs-emoji-1f349{
	background-image:url('//twemoji.maxcdn.com/72x72/1f349.png');
}
.emojijs-emoji-1f345{
	background-image:url('//twemoji.maxcdn.com/72x72/1f345.png');
}
.emojijs-emoji-1f346{
	background-image:url('//twemoji.maxcdn.com/72x72/1f346.png');
}
.emojijs-emoji-1f382{
	background-image:url('//twemoji.maxcdn.com/72x72/1f382.png');
}
.emojijs-emoji-1f371{
	background-image:url('//twemoji.maxcdn.com/72x72/1f371.png');
}
.emojijs-emoji-1f372{
	background-image:url('//twemoji.maxcdn.com/72x72/1f372.png');
}
.emojijs-emoji-1f625{
	background-image:url('//twemoji.maxcdn.com/72x72/1f625.png');
}
.emojijs-emoji-1f60f{
	background-image:url('//twemoji.maxcdn.com/72x72/1f60f.png');
}
.emojijs-emoji-1f614{
	background-image:url('//twemoji.maxcdn.com/72x72/1f614.png');
}
.emojijs-emoji-1f601{
	background-image:url('//twemoji.maxcdn.com/72x72/1f601.png');
}
.emojijs-emoji-1f609{
	background-image:url('//twemoji.maxcdn.com/72x72/1f609.png');
}
.emojijs-emoji-1f623{
	background-image:url('//twemoji.maxcdn.com/72x72/1f623.png');
}
.emojijs-emoji-1f4ab{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4ab.png');
}
.emojijs-emoji-1f62a{
	background-image:url('//twemoji.maxcdn.com/72x72/1f62a.png');
}
.emojijs-emoji-1f445{
	background-image:url('//twemoji.maxcdn.com/72x72/1f445.png');
}
.emojijs-emoji-1f606{
	background-image:url('//twemoji.maxcdn.com/72x72/1f606.png');
}
.emojijs-emoji-1f628{
	background-image:url('//twemoji.maxcdn.com/72x72/1f628.png');
}
.emojijs-emoji-1f637{
	background-image:url('//twemoji.maxcdn.com/72x72/1f637.png');
}
.emojijs-emoji-1f633{
	background-image:url('//twemoji.maxcdn.com/72x72/1f633.png');
}
.emojijs-emoji-1f612{
	background-image:url('//twemoji.maxcdn.com/72x72/1f612.png');
}
.emojijs-emoji-1f630{
	background-image:url('//twemoji.maxcdn.com/72x72/1f630.png');
}
.emojijs-emoji-1f632{
	background-image:url('//twemoji.maxcdn.com/72x72/1f632.png');
}
.emojijs-emoji-1f62d{
	background-image:url('//twemoji.maxcdn.com/72x72/1f62d.png');
}
.emojijs-emoji-1f602{
	background-image:url('//twemoji.maxcdn.com/72x72/1f602.png');
}
.emojijs-emoji-1f622{
	background-image:url('//twemoji.maxcdn.com/72x72/1f622.png');
}
.emojijs-emoji-263a{
	background-image:url('//twemoji.maxcdn.com/72x72/263a.png');
}
.emojijs-emoji-1f604{
	background-image:url('//twemoji.maxcdn.com/72x72/1f604.png');
}
.emojijs-emoji-1f621{
	background-image:url('//twemoji.maxcdn.com/72x72/1f621.png');
}
.emojijs-emoji-1f61a{
	background-image:url('//twemoji.maxcdn.com/72x72/1f61a.png');
}
.emojijs-emoji-1f618{
	background-image:url('//twemoji.maxcdn.com/72x72/1f618.png');
}
.emojijs-emoji-1f440{
	background-image:url('//twemoji.maxcdn.com/72x72/1f440.png');
}
.emojijs-emoji-1f443{
	background-image:url('//twemoji.maxcdn.com/72x72/1f443.png');
}
.emojijs-emoji-1f442{
	background-image:url('//twemoji.maxcdn.com/72x72/1f442.png');
}
.emojijs-emoji-1f444{
	background-image:url('//twemoji.maxcdn.com/72x72/1f444.png');
}
.emojijs-emoji-1f64f{
	background-image:url('//twemoji.maxcdn.com/72x72/1f64f.png');
}
.emojijs-emoji-1f44b{
	background-image:url('//twemoji.maxcdn.com/72x72/1f44b.png');
}
.emojijs-emoji-1f44f{
	background-image:url('//twemoji.maxcdn.com/72x72/1f44f.png');
}
.emojijs-emoji-1f44c{
	background-image:url('//twemoji.maxcdn.com/72x72/1f44c.png');
}
.emojijs-emoji-1f44e{
	background-image:url('//twemoji.maxcdn.com/72x72/1f44e.png');
}
.emojijs-emoji-1f450{
	background-image:url('//twemoji.maxcdn.com/72x72/1f450.png');
}
.emojijs-emoji-1f645{
	background-image:url('//twemoji.maxcdn.com/72x72/1f645.png');
}
.emojijs-emoji-1f646{
	background-image:url('//twemoji.maxcdn.com/72x72/1f646.png');
}
.emojijs-emoji-1f491{
	background-image:url('//twemoji.maxcdn.com/72x72/1f491.png');
}
.emojijs-emoji-1f647{
	background-image:url('//twemoji.maxcdn.com/72x72/1f647.png');
}
.emojijs-emoji-1f64c{
	background-image:url('//twemoji.maxcdn.com/72x72/1f64c.png');
}
.emojijs-emoji-1f46b{
	background-image:url('//twemoji.maxcdn.com/72x72/1f46b.png');
}
.emojijs-emoji-1f46f{
	background-image:url('//twemoji.maxcdn.com/72x72/1f46f.png');
}
.emojijs-emoji-1f3c0{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3c0.png');
}
.emojijs-emoji-1f3c8{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3c8.png');
}
.emojijs-emoji-1f3b1{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3b1.png');
}
.emojijs-emoji-1f3ca{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3ca.png');
}
.emojijs-emoji-1f699{
	background-image:url('//twemoji.maxcdn.com/72x72/1f699.png');
}
.emojijs-emoji-1f69a{
	background-image:url('//twemoji.maxcdn.com/72x72/1f69a.png');
}
.emojijs-emoji-1f692{
	background-image:url('//twemoji.maxcdn.com/72x72/1f692.png');
}
.emojijs-emoji-1f691{
	background-image:url('//twemoji.maxcdn.com/72x72/1f691.png');
}
.emojijs-emoji-1f693{
	background-image:url('//twemoji.maxcdn.com/72x72/1f693.png');
}
.emojijs-emoji-1f3a2{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3a2.png');
}
.emojijs-emoji-24c2{
	background-image:url('//twemoji.maxcdn.com/72x72/24c2.png');
}
.emojijs-emoji-1f684{
	background-image:url('//twemoji.maxcdn.com/72x72/1f684.png');
}
.emojijs-emoji-1f38d{
	background-image:url('//twemoji.maxcdn.com/72x72/1f38d.png');
}
.emojijs-emoji-1f49d{
	background-image:url('//twemoji.maxcdn.com/72x72/1f49d.png');
}
.emojijs-emoji-1f38e{
	background-image:url('//twemoji.maxcdn.com/72x72/1f38e.png');
}
.emojijs-emoji-1f393{
	background-image:url('//twemoji.maxcdn.com/72x72/1f393.png');
}
.emojijs-emoji-1f392{
	background-image:url('//twemoji.maxcdn.com/72x72/1f392.png');
}
.emojijs-emoji-1f38f{
	background-image:url('//twemoji.maxcdn.com/72x72/1f38f.png');
}
.emojijs-emoji-1f302{
	background-image:url('//twemoji.maxcdn.com/72x72/1f302.png');
}
.emojijs-emoji-1f492{
	background-image:url('//twemoji.maxcdn.com/72x72/1f492.png');
}
.emojijs-emoji-1f30a{
	background-image:url('//twemoji.maxcdn.com/72x72/1f30a.png');
}
.emojijs-emoji-1f367{
	background-image:url('//twemoji.maxcdn.com/72x72/1f367.png');
}
.emojijs-emoji-1f387{
	background-image:url('//twemoji.maxcdn.com/72x72/1f387.png');
}
.emojijs-emoji-1f41a{
	background-image:url('//twemoji.maxcdn.com/72x72/1f41a.png');
}
.emojijs-emoji-1f390{
	background-image:url('//twemoji.maxcdn.com/72x72/1f390.png');
}
.emojijs-emoji-1f300{
	background-image:url('//twemoji.maxcdn.com/72x72/1f300.png');
}
.emojijs-emoji-1f33e{
	background-image:url('//twemoji.maxcdn.com/72x72/1f33e.png');
}
.emojijs-emoji-1f383{
	background-image:url('//twemoji.maxcdn.com/72x72/1f383.png');
}
.emojijs-emoji-1f391{
	background-image:url('//twemoji.maxcdn.com/72x72/1f391.png');
}
.emojijs-emoji-1f343{
	background-image:url('//twemoji.maxcdn.com/72x72/1f343.png');
}
.emojijs-emoji-1f385{
	background-image:url('//twemoji.maxcdn.com/72x72/1f385.png');
}
.emojijs-emoji-1f305{
	background-image:url('//twemoji.maxcdn.com/72x72/1f305.png');
}
.emojijs-emoji-1f307{
	background-image:url('//twemoji.maxcdn.com/72x72/1f307.png');
}
.emojijs-emoji-1f303{
	background-image:url('//twemoji.maxcdn.com/72x72/1f303.png');
}
.emojijs-emoji-1f308{
	background-image:url('//twemoji.maxcdn.com/72x72/1f308.png');
}
.emojijs-emoji-1f3e9{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3e9.png');
}
.emojijs-emoji-1f3a8{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3a8.png');
}
.emojijs-emoji-1f3a9{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3a9.png');
}
.emojijs-emoji-1f3ec{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3ec.png');
}
.emojijs-emoji-1f3ef{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3ef.png');
}
.emojijs-emoji-1f3f0{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3f0.png');
}
.emojijs-emoji-1f3a6{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3a6.png');
}
.emojijs-emoji-1f3ed{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3ed.png');
}
.emojijs-emoji-1f5fc{
	background-image:url('//twemoji.maxcdn.com/72x72/1f5fc.png');
}
.emojijs-emoji-1f471{
	background-image:url('//twemoji.maxcdn.com/72x72/1f471.png');
}
.emojijs-emoji-1f472{
	background-image:url('//twemoji.maxcdn.com/72x72/1f472.png');
}
.emojijs-emoji-1f473{
	background-image:url('//twemoji.maxcdn.com/72x72/1f473.png');
}
.emojijs-emoji-1f474{
	background-image:url('//twemoji.maxcdn.com/72x72/1f474.png');
}
.emojijs-emoji-1f475{
	background-image:url('//twemoji.maxcdn.com/72x72/1f475.png');
}
.emojijs-emoji-1f476{
	background-image:url('//twemoji.maxcdn.com/72x72/1f476.png');
}
.emojijs-emoji-1f477{
	background-image:url('//twemoji.maxcdn.com/72x72/1f477.png');
}
.emojijs-emoji-1f478{
	background-image:url('//twemoji.maxcdn.com/72x72/1f478.png');
}
.emojijs-emoji-1f5fd{
	background-image:url('//twemoji.maxcdn.com/72x72/1f5fd.png');
}
.emojijs-emoji-1f482{
	background-image:url('//twemoji.maxcdn.com/72x72/1f482.png');
}
.emojijs-emoji-1f483{
	background-image:url('//twemoji.maxcdn.com/72x72/1f483.png');
}
.emojijs-emoji-1f42c{
	background-image:url('//twemoji.maxcdn.com/72x72/1f42c.png');
}
.emojijs-emoji-1f426{
	background-image:url('//twemoji.maxcdn.com/72x72/1f426.png');
}
.emojijs-emoji-1f420{
	background-image:url('//twemoji.maxcdn.com/72x72/1f420.png');
}
.emojijs-emoji-1f423{
	background-image:url('//twemoji.maxcdn.com/72x72/1f423.png');
}
.emojijs-emoji-1f439{
	background-image:url('//twemoji.maxcdn.com/72x72/1f439.png');
}
.emojijs-emoji-1f41b{
	background-image:url('//twemoji.maxcdn.com/72x72/1f41b.png');
}
.emojijs-emoji-1f418{
	background-image:url('//twemoji.maxcdn.com/72x72/1f418.png');
}
.emojijs-emoji-1f428{
	background-image:url('//twemoji.maxcdn.com/72x72/1f428.png');
}
.emojijs-emoji-1f412{
	background-image:url('//twemoji.maxcdn.com/72x72/1f412.png');
}
.emojijs-emoji-1f411{
	background-image:url('//twemoji.maxcdn.com/72x72/1f411.png');
}
.emojijs-emoji-1f43a{
	background-image:url('//twemoji.maxcdn.com/72x72/1f43a.png');
}
.emojijs-emoji-1f42e{
	background-image:url('//twemoji.maxcdn.com/72x72/1f42e.png');
}
.emojijs-emoji-1f430{
	background-image:url('//twemoji.maxcdn.com/72x72/1f430.png');
}
.emojijs-emoji-1f40d{
	background-image:url('//twemoji.maxcdn.com/72x72/1f40d.png');
}
.emojijs-emoji-1f414{
	background-image:url('//twemoji.maxcdn.com/72x72/1f414.png');
}
.emojijs-emoji-1f417{
	background-image:url('//twemoji.maxcdn.com/72x72/1f417.png');
}
.emojijs-emoji-1f42b{
	background-image:url('//twemoji.maxcdn.com/72x72/1f42b.png');
}
.emojijs-emoji-1f438{
	background-image:url('//twemoji.maxcdn.com/72x72/1f438.png');
}
.emojijs-emoji-1f170{
	background-image:url('//twemoji.maxcdn.com/72x72/1f170.png');
}
.emojijs-emoji-1f171{
	background-image:url('//twemoji.maxcdn.com/72x72/1f171.png');
}
.emojijs-emoji-1f18e{
	background-image:url('//twemoji.maxcdn.com/72x72/1f18e.png');
}
.emojijs-emoji-1f17e{
	background-image:url('//twemoji.maxcdn.com/72x72/1f17e.png');
}
.emojijs-emoji-1f43e{
	background-image:url('//twemoji.maxcdn.com/72x72/1f43e.png');
}
.emojijs-emoji-2122{
	background-image:url('//twemoji.maxcdn.com/72x72/2122.png');
}
.emojijs-emoji-1f0cf{
	background-image:url('//twemoji.maxcdn.com/72x72/1f0cf.png');
}
.emojijs-emoji-1f191{
	background-image:url('//twemoji.maxcdn.com/72x72/1f191.png');
}
.emojijs-emoji-1f193{
	background-image:url('//twemoji.maxcdn.com/72x72/1f193.png');
}
.emojijs-emoji-1f196{
	background-image:url('//twemoji.maxcdn.com/72x72/1f196.png');
}
.emojijs-emoji-1f198{
	background-image:url('//twemoji.maxcdn.com/72x72/1f198.png');
}
.emojijs-emoji-1f1e6{
	background-image:url('//twemoji.maxcdn.com/72x72/1f1e6.png');
}
.emojijs-emoji-1f1e7{
	background-image:url('//twemoji.maxcdn.com/72x72/1f1e7.png');
}
.emojijs-emoji-1f1e8{
	background-image:url('//twemoji.maxcdn.com/72x72/1f1e8.png');
}
.emojijs-emoji-1f1e9{
	background-image:url('//twemoji.maxcdn.com/72x72/1f1e9.png');
}
.emojijs-emoji-1f1ea{
	background-image:url('//twemoji.maxcdn.com/72x72/1f1ea.png');
}
.emojijs-emoji-1f1eb{
	background-image:url('//twemoji.maxcdn.com/72x72/1f1eb.png');
}
.emojijs-emoji-1f1ec{
	background-image:url('//twemoji.maxcdn.com/72x72/1f1ec.png');
}
.emojijs-emoji-1f1ed{
	background-image:url('//twemoji.maxcdn.com/72x72/1f1ed.png');
}
.emojijs-emoji-1f1ee{
	background-image:url('//twemoji.maxcdn.com/72x72/1f1ee.png');
}
.emojijs-emoji-1f1ef{
	background-image:url('//twemoji.maxcdn.com/72x72/1f1ef.png');
}
.emojijs-emoji-1f1f0{
	background-image:url('//twemoji.maxcdn.com/72x72/1f1f0.png');
}
.emojijs-emoji-1f1f1{
	background-image:url('//twemoji.maxcdn.com/72x72/1f1f1.png');
}
.emojijs-emoji-1f1f2{
	background-image:url('//twemoji.maxcdn.com/72x72/1f1f2.png');
}
.emojijs-emoji-1f1f3{
	background-image:url('//twemoji.maxcdn.com/72x72/1f1f3.png');
}
.emojijs-emoji-1f1f4{
	background-image:url('//twemoji.maxcdn.com/72x72/1f1f4.png');
}
.emojijs-emoji-1f1f5{
	background-image:url('//twemoji.maxcdn.com/72x72/1f1f5.png');
}
.emojijs-emoji-1f1f6{
	background-image:url('//twemoji.maxcdn.com/72x72/1f1f6.png');
}
.emojijs-emoji-1f1f7{
	background-image:url('//twemoji.maxcdn.com/72x72/1f1f7.png');
}
.emojijs-emoji-1f1f8{
	background-image:url('//twemoji.maxcdn.com/72x72/1f1f8.png');
}
.emojijs-emoji-1f1f9{
	background-image:url('//twemoji.maxcdn.com/72x72/1f1f9.png');
}
.emojijs-emoji-1f1fa{
	background-image:url('//twemoji.maxcdn.com/72x72/1f1fa.png');
}
.emojijs-emoji-1f1fb{
	background-image:url('//twemoji.maxcdn.com/72x72/1f1fb.png');
}
.emojijs-emoji-1f1fc{
	background-image:url('//twemoji.maxcdn.com/72x72/1f1fc.png');
}
.emojijs-emoji-1f1fd{
	background-image:url('//twemoji.maxcdn.com/72x72/1f1fd.png');
}
.emojijs-emoji-1f1fe{
	background-image:url('//twemoji.maxcdn.com/72x72/1f1fe.png');
}
.emojijs-emoji-1f1ff{
	background-image:url('//twemoji.maxcdn.com/72x72/1f1ff.png');
}
.emojijs-emoji-1f232{
	background-image:url('//twemoji.maxcdn.com/72x72/1f232.png');
}
.emojijs-emoji-1f234{
	background-image:url('//twemoji.maxcdn.com/72x72/1f234.png');
}
.emojijs-emoji-1f251{
	background-image:url('//twemoji.maxcdn.com/72x72/1f251.png');
}
.emojijs-emoji-1f301{
	background-image:url('//twemoji.maxcdn.com/72x72/1f301.png');
}
.emojijs-emoji-1f309{
	background-image:url('//twemoji.maxcdn.com/72x72/1f309.png');
}
.emojijs-emoji-1f30b{
	background-image:url('//twemoji.maxcdn.com/72x72/1f30b.png');
}
.emojijs-emoji-1f30c{
	background-image:url('//twemoji.maxcdn.com/72x72/1f30c.png');
}
.emojijs-emoji-1f30d{
	background-image:url('//twemoji.maxcdn.com/72x72/1f30d.png');
}
.emojijs-emoji-1f30e{
	background-image:url('//twemoji.maxcdn.com/72x72/1f30e.png');
}
.emojijs-emoji-1f30f{
	background-image:url('//twemoji.maxcdn.com/72x72/1f30f.png');
}
.emojijs-emoji-1f310{
	background-image:url('//twemoji.maxcdn.com/72x72/1f310.png');
}
.emojijs-emoji-1f311{
	background-image:url('//twemoji.maxcdn.com/72x72/1f311.png');
}
.emojijs-emoji-1f312{
	background-image:url('//twemoji.maxcdn.com/72x72/1f312.png');
}
.emojijs-emoji-1f314{
	background-image:url('//twemoji.maxcdn.com/72x72/1f314.png');
}
.emojijs-emoji-1f315{
	background-image:url('//twemoji.maxcdn.com/72x72/1f315.png');
}
.emojijs-emoji-1f316{
	background-image:url('//twemoji.maxcdn.com/72x72/1f316.png');
}
.emojijs-emoji-1f317{
	background-image:url('//twemoji.maxcdn.com/72x72/1f317.png');
}
.emojijs-emoji-1f318{
	background-image:url('//twemoji.maxcdn.com/72x72/1f318.png');
}
.emojijs-emoji-1f319{
	background-image:url('//twemoji.maxcdn.com/72x72/1f319.png');
}
.emojijs-emoji-1f31a{
	background-image:url('//twemoji.maxcdn.com/72x72/1f31a.png');
}
.emojijs-emoji-1f31b{
	background-image:url('//twemoji.maxcdn.com/72x72/1f31b.png');
}
.emojijs-emoji-1f31c{
	background-image:url('//twemoji.maxcdn.com/72x72/1f31c.png');
}
.emojijs-emoji-1f31d{
	background-image:url('//twemoji.maxcdn.com/72x72/1f31d.png');
}
.emojijs-emoji-1f31e{
	background-image:url('//twemoji.maxcdn.com/72x72/1f31e.png');
}
.emojijs-emoji-1f320{
	background-image:url('//twemoji.maxcdn.com/72x72/1f320.png');
}
.emojijs-emoji-1f330{
	background-image:url('//twemoji.maxcdn.com/72x72/1f330.png');
}
.emojijs-emoji-1f332{
	background-image:url('//twemoji.maxcdn.com/72x72/1f332.png');
}
.emojijs-emoji-1f333{
	background-image:url('//twemoji.maxcdn.com/72x72/1f333.png');
}
.emojijs-emoji-1f33c{
	background-image:url('//twemoji.maxcdn.com/72x72/1f33c.png');
}
.emojijs-emoji-1f33d{
	background-image:url('//twemoji.maxcdn.com/72x72/1f33d.png');
}
.emojijs-emoji-1f33f{
	background-image:url('//twemoji.maxcdn.com/72x72/1f33f.png');
}
.emojijs-emoji-1f340{
	background-image:url('//twemoji.maxcdn.com/72x72/1f340.png');
}
.emojijs-emoji-1f344{
	background-image:url('//twemoji.maxcdn.com/72x72/1f344.png');
}
.emojijs-emoji-1f347{
	background-image:url('//twemoji.maxcdn.com/72x72/1f347.png');
}
.emojijs-emoji-1f348{
	background-image:url('//twemoji.maxcdn.com/72x72/1f348.png');
}
.emojijs-emoji-1f34b{
	background-image:url('//twemoji.maxcdn.com/72x72/1f34b.png');
}
.emojijs-emoji-1f34c{
	background-image:url('//twemoji.maxcdn.com/72x72/1f34c.png');
}
.emojijs-emoji-1f34d{
	background-image:url('//twemoji.maxcdn.com/72x72/1f34d.png');
}
.emojijs-emoji-1f34f{
	background-image:url('//twemoji.maxcdn.com/72x72/1f34f.png');
}
.emojijs-emoji-1f350{
	background-image:url('//twemoji.maxcdn.com/72x72/1f350.png');
}
.emojijs-emoji-1f351{
	background-image:url('//twemoji.maxcdn.com/72x72/1f351.png');
}
.emojijs-emoji-1f352{
	background-image:url('//twemoji.maxcdn.com/72x72/1f352.png');
}
.emojijs-emoji-1f355{
	background-image:url('//twemoji.maxcdn.com/72x72/1f355.png');
}
.emojijs-emoji-1f356{
	background-image:url('//twemoji.maxcdn.com/72x72/1f356.png');
}
.emojijs-emoji-1f357{
	background-image:url('//twemoji.maxcdn.com/72x72/1f357.png');
}
.emojijs-emoji-1f360{
	background-image:url('//twemoji.maxcdn.com/72x72/1f360.png');
}
.emojijs-emoji-1f364{
	background-image:url('//twemoji.maxcdn.com/72x72/1f364.png');
}
.emojijs-emoji-1f365{
	background-image:url('//twemoji.maxcdn.com/72x72/1f365.png');
}
.emojijs-emoji-1f368{
	background-image:url('//twemoji.maxcdn.com/72x72/1f368.png');
}
.emojijs-emoji-1f369{
	background-image:url('//twemoji.maxcdn.com/72x72/1f369.png');
}
.emojijs-emoji-1f36a{
	background-image:url('//twemoji.maxcdn.com/72x72/1f36a.png');
}
.emojijs-emoji-1f36b{
	background-image:url('//twemoji.maxcdn.com/72x72/1f36b.png');
}
.emojijs-emoji-1f36c{
	background-image:url('//twemoji.maxcdn.com/72x72/1f36c.png');
}
.emojijs-emoji-1f36d{
	background-image:url('//twemoji.maxcdn.com/72x72/1f36d.png');
}
.emojijs-emoji-1f36e{
	background-image:url('//twemoji.maxcdn.com/72x72/1f36e.png');
}
.emojijs-emoji-1f36f{
	background-image:url('//twemoji.maxcdn.com/72x72/1f36f.png');
}
.emojijs-emoji-1f378{
	background-image:url('//twemoji.maxcdn.com/72x72/1f378.png');
}
.emojijs-emoji-1f379{
	background-image:url('//twemoji.maxcdn.com/72x72/1f379.png');
}
.emojijs-emoji-1f37c{
	background-image:url('//twemoji.maxcdn.com/72x72/1f37c.png');
}
.emojijs-emoji-1f38a{
	background-image:url('//twemoji.maxcdn.com/72x72/1f38a.png');
}
.emojijs-emoji-1f38b{
	background-image:url('//twemoji.maxcdn.com/72x72/1f38b.png');
}
.emojijs-emoji-1f3a0{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3a0.png');
}
.emojijs-emoji-1f3aa{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3aa.png');
}
.emojijs-emoji-1f3ad{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3ad.png');
}
.emojijs-emoji-1f3ae{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3ae.png');
}
.emojijs-emoji-1f3b2{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3b2.png');
}
.emojijs-emoji-1f3b3{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3b3.png');
}
.emojijs-emoji-1f3b4{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3b4.png');
}
.emojijs-emoji-1f3b9{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3b9.png');
}
.emojijs-emoji-1f3bb{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3bb.png');
}
.emojijs-emoji-1f3bc{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3bc.png');
}
.emojijs-emoji-1f3bd{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3bd.png');
}
.emojijs-emoji-1f3c2{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3c2.png');
}
.emojijs-emoji-1f3c7{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3c7.png');
}
.emojijs-emoji-1f3c9{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3c9.png');
}
.emojijs-emoji-1f3e1{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3e1.png');
}
.emojijs-emoji-1f3e4{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3e4.png');
}
.emojijs-emoji-1f3ee{
	background-image:url('//twemoji.maxcdn.com/72x72/1f3ee.png');
}
.emojijs-emoji-1f400{
	background-image:url('//twemoji.maxcdn.com/72x72/1f400.png');
}
.emojijs-emoji-1f401{
	background-image:url('//twemoji.maxcdn.com/72x72/1f401.png');
}
.emojijs-emoji-1f402{
	background-image:url('//twemoji.maxcdn.com/72x72/1f402.png');
}
.emojijs-emoji-1f403{
	background-image:url('//twemoji.maxcdn.com/72x72/1f403.png');
}
.emojijs-emoji-1f404{
	background-image:url('//twemoji.maxcdn.com/72x72/1f404.png');
}
.emojijs-emoji-1f405{
	background-image:url('//twemoji.maxcdn.com/72x72/1f405.png');
}
.emojijs-emoji-1f406{
	background-image:url('//twemoji.maxcdn.com/72x72/1f406.png');
}
.emojijs-emoji-1f407{
	background-image:url('//twemoji.maxcdn.com/72x72/1f407.png');
}
.emojijs-emoji-1f408{
	background-image:url('//twemoji.maxcdn.com/72x72/1f408.png');
}
.emojijs-emoji-1f409{
	background-image:url('//twemoji.maxcdn.com/72x72/1f409.png');
}
.emojijs-emoji-1f40a{
	background-image:url('//twemoji.maxcdn.com/72x72/1f40a.png');
}
.emojijs-emoji-1f40b{
	background-image:url('//twemoji.maxcdn.com/72x72/1f40b.png');
}
.emojijs-emoji-1f40c{
	background-image:url('//twemoji.maxcdn.com/72x72/1f40c.png');
}
.emojijs-emoji-1f40f{
	background-image:url('//twemoji.maxcdn.com/72x72/1f40f.png');
}
.emojijs-emoji-1f410{
	background-image:url('//twemoji.maxcdn.com/72x72/1f410.png');
}
.emojijs-emoji-1f413{
	background-image:url('//twemoji.maxcdn.com/72x72/1f413.png');
}
.emojijs-emoji-1f415{
	background-image:url('//twemoji.maxcdn.com/72x72/1f415.png');
}
.emojijs-emoji-1f416{
	background-image:url('//twemoji.maxcdn.com/72x72/1f416.png');
}
.emojijs-emoji-1f41c{
	background-image:url('//twemoji.maxcdn.com/72x72/1f41c.png');
}
.emojijs-emoji-1f41d{
	background-image:url('//twemoji.maxcdn.com/72x72/1f41d.png');
}
.emojijs-emoji-1f41e{
	background-image:url('//twemoji.maxcdn.com/72x72/1f41e.png');
}
.emojijs-emoji-1f41f{
	background-image:url('//twemoji.maxcdn.com/72x72/1f41f.png');
}
.emojijs-emoji-1f421{
	background-image:url('//twemoji.maxcdn.com/72x72/1f421.png');
}
.emojijs-emoji-1f422{
	background-image:url('//twemoji.maxcdn.com/72x72/1f422.png');
}
.emojijs-emoji-1f424{
	background-image:url('//twemoji.maxcdn.com/72x72/1f424.png');
}
.emojijs-emoji-1f425{
	background-image:url('//twemoji.maxcdn.com/72x72/1f425.png');
}
.emojijs-emoji-1f42a{
	background-image:url('//twemoji.maxcdn.com/72x72/1f42a.png');
}
.emojijs-emoji-1f432{
	background-image:url('//twemoji.maxcdn.com/72x72/1f432.png');
}
.emojijs-emoji-1f436{
	background-image:url('//twemoji.maxcdn.com/72x72/1f436.png');
}
.emojijs-emoji-1f43c{
	background-image:url('//twemoji.maxcdn.com/72x72/1f43c.png');
}
.emojijs-emoji-1f43d{
	background-image:url('//twemoji.maxcdn.com/72x72/1f43d.png');
}
.emojijs-emoji-1f453{
	background-image:url('//twemoji.maxcdn.com/72x72/1f453.png');
}
.emojijs-emoji-1f456{
	background-image:url('//twemoji.maxcdn.com/72x72/1f456.png');
}
.emojijs-emoji-1f45a{
	background-image:url('//twemoji.maxcdn.com/72x72/1f45a.png');
}
.emojijs-emoji-1f45b{
	background-image:url('//twemoji.maxcdn.com/72x72/1f45b.png');
}
.emojijs-emoji-1f45d{
	background-image:url('//twemoji.maxcdn.com/72x72/1f45d.png');
}
.emojijs-emoji-1f45f{
	background-image:url('//twemoji.maxcdn.com/72x72/1f45f.png');
}
.emojijs-emoji-1f463{
	background-image:url('//twemoji.maxcdn.com/72x72/1f463.png');
}
.emojijs-emoji-1f464{
	background-image:url('//twemoji.maxcdn.com/72x72/1f464.png');
}
.emojijs-emoji-1f465{
	background-image:url('//twemoji.maxcdn.com/72x72/1f465.png');
}
.emojijs-emoji-1f46a{
	background-image:url('//twemoji.maxcdn.com/72x72/1f46a.png');
}
.emojijs-emoji-1f46c{
	background-image:url('//twemoji.maxcdn.com/72x72/1f46c.png');
}
.emojijs-emoji-1f46d{
	background-image:url('//twemoji.maxcdn.com/72x72/1f46d.png');
}
.emojijs-emoji-1f470{
	background-image:url('//twemoji.maxcdn.com/72x72/1f470.png');
}
.emojijs-emoji-1f479{
	background-image:url('//twemoji.maxcdn.com/72x72/1f479.png');
}
.emojijs-emoji-1f47a{
	background-image:url('//twemoji.maxcdn.com/72x72/1f47a.png');
}
.emojijs-emoji-1f495{
	background-image:url('//twemoji.maxcdn.com/72x72/1f495.png');
}
.emojijs-emoji-1f496{
	background-image:url('//twemoji.maxcdn.com/72x72/1f496.png');
}
.emojijs-emoji-1f49e{
	background-image:url('//twemoji.maxcdn.com/72x72/1f49e.png');
}
.emojijs-emoji-1f4a0{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4a0.png');
}
.emojijs-emoji-1f4a5{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4a5.png');
}
.emojijs-emoji-1f4a7{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4a7.png');
}
.emojijs-emoji-1f4ac{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4ac.png');
}
.emojijs-emoji-1f4ad{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4ad.png');
}
.emojijs-emoji-1f4ae{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4ae.png');
}
.emojijs-emoji-1f4af{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4af.png');
}
.emojijs-emoji-1f4b2{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4b2.png');
}
.emojijs-emoji-1f4b3{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4b3.png');
}
.emojijs-emoji-1f4b4{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4b4.png');
}
.emojijs-emoji-1f4b5{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4b5.png');
}
.emojijs-emoji-1f4b6{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4b6.png');
}
.emojijs-emoji-1f4b7{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4b7.png');
}
.emojijs-emoji-1f4b8{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4b8.png');
}
.emojijs-emoji-1f4be{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4be.png');
}
.emojijs-emoji-1f4c1{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4c1.png');
}
.emojijs-emoji-1f4c2{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4c2.png');
}
.emojijs-emoji-1f4c3{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4c3.png');
}
.emojijs-emoji-1f4c4{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4c4.png');
}
.emojijs-emoji-1f4c5{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4c5.png');
}
.emojijs-emoji-1f4c6{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4c6.png');
}
.emojijs-emoji-1f4c8{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4c8.png');
}
.emojijs-emoji-1f4c9{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4c9.png');
}
.emojijs-emoji-1f4ca{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4ca.png');
}
.emojijs-emoji-1f4cb{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4cb.png');
}
.emojijs-emoji-1f4cc{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4cc.png');
}
.emojijs-emoji-1f4cd{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4cd.png');
}
.emojijs-emoji-1f4ce{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4ce.png');
}
.emojijs-emoji-1f4cf{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4cf.png');
}
.emojijs-emoji-1f4d0{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4d0.png');
}
.emojijs-emoji-1f4d1{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4d1.png');
}
.emojijs-emoji-1f4d2{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4d2.png');
}
.emojijs-emoji-1f4d3{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4d3.png');
}
.emojijs-emoji-1f4d4{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4d4.png');
}
.emojijs-emoji-1f4d5{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4d5.png');
}
.emojijs-emoji-1f4d6{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4d6.png');
}
.emojijs-emoji-1f4d7{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4d7.png');
}
.emojijs-emoji-1f4d8{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4d8.png');
}
.emojijs-emoji-1f4d9{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4d9.png');
}
.emojijs-emoji-1f4da{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4da.png');
}
.emojijs-emoji-1f4db{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4db.png');
}
.emojijs-emoji-1f4dc{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4dc.png');
}
.emojijs-emoji-1f4dd{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4dd.png');
}
.emojijs-emoji-1f4de{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4de.png');
}
.emojijs-emoji-1f4df{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4df.png');
}
.emojijs-emoji-1f4e4{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4e4.png');
}
.emojijs-emoji-1f4e5{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4e5.png');
}
.emojijs-emoji-1f4e6{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4e6.png');
}
.emojijs-emoji-1f4e7{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4e7.png');
}
.emojijs-emoji-1f4e8{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4e8.png');
}
.emojijs-emoji-1f4e9{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4e9.png');
}
.emojijs-emoji-1f4eb{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4eb.png');
}
.emojijs-emoji-1f4ec{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4ec.png');
}
.emojijs-emoji-1f4ed{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4ed.png');
}
.emojijs-emoji-1f4ef{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4ef.png');
}
.emojijs-emoji-1f4f0{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4f0.png');
}
.emojijs-emoji-1f4f5{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4f5.png');
}
.emojijs-emoji-1f4f9{
	background-image:url('//twemoji.maxcdn.com/72x72/1f4f9.png');
}
.emojijs-emoji-1f500{
	background-image:url('//twemoji.maxcdn.com/72x72/1f500.png');
}
.emojijs-emoji-1f501{
	background-image:url('//twemoji.maxcdn.com/72x72/1f501.png');
}
.emojijs-emoji-1f502{
	background-image:url('//twemoji.maxcdn.com/72x72/1f502.png');
}
.emojijs-emoji-1f503{
	background-image:url('//twemoji.maxcdn.com/72x72/1f503.png');
}
.emojijs-emoji-1f504{
	background-image:url('//twemoji.maxcdn.com/72x72/1f504.png');
}
.emojijs-emoji-1f505{
	background-image:url('//twemoji.maxcdn.com/72x72/1f505.png');
}
.emojijs-emoji-1f506{
	background-image:url('//twemoji.maxcdn.com/72x72/1f506.png');
}
.emojijs-emoji-1f507{
	background-image:url('//twemoji.maxcdn.com/72x72/1f507.png');
}
.emojijs-emoji-1f508{
	background-image:url('//twemoji.maxcdn.com/72x72/1f508.png');
}
.emojijs-emoji-1f509{
	background-image:url('//twemoji.maxcdn.com/72x72/1f509.png');
}
.emojijs-emoji-1f50b{
	background-image:url('//twemoji.maxcdn.com/72x72/1f50b.png');
}
.emojijs-emoji-1f50c{
	background-image:url('//twemoji.maxcdn.com/72x72/1f50c.png');
}
.emojijs-emoji-1f50e{
	background-image:url('//twemoji.maxcdn.com/72x72/1f50e.png');
}
.emojijs-emoji-1f510{
	background-image:url('//twemoji.maxcdn.com/72x72/1f510.png');
}
.emojijs-emoji-1f512{
	background-image:url('//twemoji.maxcdn.com/72x72/1f512.png');
}
.emojijs-emoji-1f515{
	background-image:url('//twemoji.maxcdn.com/72x72/1f515.png');
}
.emojijs-emoji-1f516{
	background-image:url('//twemoji.maxcdn.com/72x72/1f516.png');
}
.emojijs-emoji-1f517{
	background-image:url('//twemoji.maxcdn.com/72x72/1f517.png');
}
.emojijs-emoji-1f518{
	background-image:url('//twemoji.maxcdn.com/72x72/1f518.png');
}
.emojijs-emoji-1f519{
	background-image:url('//twemoji.maxcdn.com/72x72/1f519.png');
}
.emojijs-emoji-1f51a{
	background-image:url('//twemoji.maxcdn.com/72x72/1f51a.png');
}
.emojijs-emoji-1f51b{
	background-image:url('//twemoji.maxcdn.com/72x72/1f51b.png');
}
.emojijs-emoji-1f51c{
	background-image:url('//twemoji.maxcdn.com/72x72/1f51c.png');
}
.emojijs-emoji-1f51f{
	background-image:url('//twemoji.maxcdn.com/72x72/1f51f.png');
}
.emojijs-emoji-1f520{
	background-image:url('//twemoji.maxcdn.com/72x72/1f520.png');
}
.emojijs-emoji-1f521{
	background-image:url('//twemoji.maxcdn.com/72x72/1f521.png');
}
.emojijs-emoji-1f522{
	background-image:url('//twemoji.maxcdn.com/72x72/1f522.png');
}
.emojijs-emoji-1f523{
	background-image:url('//twemoji.maxcdn.com/72x72/1f523.png');
}
.emojijs-emoji-1f524{
	background-image:url('//twemoji.maxcdn.com/72x72/1f524.png');
}
.emojijs-emoji-1f526{
	background-image:url('//twemoji.maxcdn.com/72x72/1f526.png');
}
.emojijs-emoji-1f527{
	background-image:url('//twemoji.maxcdn.com/72x72/1f527.png');
}
.emojijs-emoji-1f529{
	background-image:url('//twemoji.maxcdn.com/72x72/1f529.png');
}
.emojijs-emoji-1f52a{
	background-image:url('//twemoji.maxcdn.com/72x72/1f52a.png');
}
.emojijs-emoji-1f52c{
	background-image:url('//twemoji.maxcdn.com/72x72/1f52c.png');
}
.emojijs-emoji-1f52d{
	background-image:url('//twemoji.maxcdn.com/72x72/1f52d.png');
}
.emojijs-emoji-1f52f{
	background-image:url('//twemoji.maxcdn.com/72x72/1f52f.png');
}
.emojijs-emoji-1f532{
	background-image:url('//twemoji.maxcdn.com/72x72/1f532.png');
}
.emojijs-emoji-1f533{
	background-image:url('//twemoji.maxcdn.com/72x72/1f533.png');
}
.emojijs-emoji-1f534{
	background-image:url('//twemoji.maxcdn.com/72x72/1f534.png');
}
.emojijs-emoji-1f535{
	background-image:url('//twemoji.maxcdn.com/72x72/1f535.png');
}
.emojijs-emoji-1f536{
	background-image:url('//twemoji.maxcdn.com/72x72/1f536.png');
}
.emojijs-emoji-1f537{
	background-image:url('//twemoji.maxcdn.com/72x72/1f537.png');
}
.emojijs-emoji-1f538{
	background-image:url('//twemoji.maxcdn.com/72x72/1f538.png');
}
.emojijs-emoji-1f539{
	background-image:url('//twemoji.maxcdn.com/72x72/1f539.png');
}
.emojijs-emoji-1f53a{
	background-image:url('//twemoji.maxcdn.com/72x72/1f53a.png');
}
.emojijs-emoji-1f53b{
	background-image:url('//twemoji.maxcdn.com/72x72/1f53b.png');
}
.emojijs-emoji-1f53c{
	background-image:url('//twemoji.maxcdn.com/72x72/1f53c.png');
}
.emojijs-emoji-1f53d{
	background-image:url('//twemoji.maxcdn.com/72x72/1f53d.png');
}
.emojijs-emoji-1f559{
	background-image:url('//twemoji.maxcdn.com/72x72/1f559.png');
}
.emojijs-emoji-1f55c{
	background-image:url('//twemoji.maxcdn.com/72x72/1f55c.png');
}
.emojijs-emoji-1f55d{
	background-image:url('//twemoji.maxcdn.com/72x72/1f55d.png');
}
.emojijs-emoji-1f55e{
	background-image:url('//twemoji.maxcdn.com/72x72/1f55e.png');
}
.emojijs-emoji-1f55f{
	background-image:url('//twemoji.maxcdn.com/72x72/1f55f.png');
}
.emojijs-emoji-1f560{
	background-image:url('//twemoji.maxcdn.com/72x72/1f560.png');
}
.emojijs-emoji-1f561{
	background-image:url('//twemoji.maxcdn.com/72x72/1f561.png');
}
.emojijs-emoji-1f562{
	background-image:url('//twemoji.maxcdn.com/72x72/1f562.png');
}
.emojijs-emoji-1f563{
	background-image:url('//twemoji.maxcdn.com/72x72/1f563.png');
}
.emojijs-emoji-1f564{
	background-image:url('//twemoji.maxcdn.com/72x72/1f564.png');
}
.emojijs-emoji-1f565{
	background-image:url('//twemoji.maxcdn.com/72x72/1f565.png');
}
.emojijs-emoji-1f566{
	background-image:url('//twemoji.maxcdn.com/72x72/1f566.png');
}
.emojijs-emoji-1f567{
	background-image:url('//twemoji.maxcdn.com/72x72/1f567.png');
}
.emojijs-emoji-1f5fe{
	background-image:url('//twemoji.maxcdn.com/72x72/1f5fe.png');
}
.emojijs-emoji-1f5ff{
	background-image:url('//twemoji.maxcdn.com/72x72/1f5ff.png');
}
.emojijs-emoji-1f600{
	background-image:url('//twemoji.maxcdn.com/72x72/1f600.png');
}
.emojijs-emoji-1f607{
	background-image:url('//twemoji.maxcdn.com/72x72/1f607.png');
}
.emojijs-emoji-1f608{
	background-image:url('//twemoji.maxcdn.com/72x72/1f608.png');
}
.emojijs-emoji-1f60b{
	background-image:url('//twemoji.maxcdn.com/72x72/1f60b.png');
}
.emojijs-emoji-1f60c{
	background-image:url('//twemoji.maxcdn.com/72x72/1f60c.png');
}
.emojijs-emoji-1f60e{
	background-image:url('//twemoji.maxcdn.com/72x72/1f60e.png');
}
.emojijs-emoji-1f610{
	background-image:url('//twemoji.maxcdn.com/72x72/1f610.png');
}
.emojijs-emoji-1f611{
	background-image:url('//twemoji.maxcdn.com/72x72/1f611.png');
}
.emojijs-emoji-1f615{
	background-image:url('//twemoji.maxcdn.com/72x72/1f615.png');
}
.emojijs-emoji-1f616{
	background-image:url('//twemoji.maxcdn.com/72x72/1f616.png');
}
.emojijs-emoji-1f617{
	background-image:url('//twemoji.maxcdn.com/72x72/1f617.png');
}
.emojijs-emoji-1f619{
	background-image:url('//twemoji.maxcdn.com/72x72/1f619.png');
}
.emojijs-emoji-1f61b{
	background-image:url('//twemoji.maxcdn.com/72x72/1f61b.png');
}
.emojijs-emoji-1f61d{
	background-image:url('//twemoji.maxcdn.com/72x72/1f61d.png');
}
.emojijs-emoji-1f61f{
	background-image:url('//twemoji.maxcdn.com/72x72/1f61f.png');
}
.emojijs-emoji-1f624{
	background-image:url('//twemoji.maxcdn.com/72x72/1f624.png');
}
.emojijs-emoji-1f626{
	background-image:url('//twemoji.maxcdn.com/72x72/1f626.png');
}
.emojijs-emoji-1f627{
	background-image:url('//twemoji.maxcdn.com/72x72/1f627.png');
}
.emojijs-emoji-1f629{
	background-image:url('//twemoji.maxcdn.com/72x72/1f629.png');
}
.emojijs-emoji-1f62b{
	background-image:url('//twemoji.maxcdn.com/72x72/1f62b.png');
}
.emojijs-emoji-1f62c{
	background-image:url('//twemoji.maxcdn.com/72x72/1f62c.png');
}
.emojijs-emoji-1f62e{
	background-image:url('//twemoji.maxcdn.com/72x72/1f62e.png');
}
.emojijs-emoji-1f62f{
	background-image:url('//twemoji.maxcdn.com/72x72/1f62f.png');
}
.emojijs-emoji-1f634{
	background-image:url('//twemoji.maxcdn.com/72x72/1f634.png');
}
.emojijs-emoji-1f635{
	background-image:url('//twemoji.maxcdn.com/72x72/1f635.png');
}
.emojijs-emoji-1f636{
	background-image:url('//twemoji.maxcdn.com/72x72/1f636.png');
}
.emojijs-emoji-1f638{
	background-image:url('//twemoji.maxcdn.com/72x72/1f638.png');
}
.emojijs-emoji-1f639{
	background-image:url('//twemoji.maxcdn.com/72x72/1f639.png');
}
.emojijs-emoji-1f63a{
	background-image:url('//twemoji.maxcdn.com/72x72/1f63a.png');
}
.emojijs-emoji-1f63b{
	background-image:url('//twemoji.maxcdn.com/72x72/1f63b.png');
}
.emojijs-emoji-1f63c{
	background-image:url('//twemoji.maxcdn.com/72x72/1f63c.png');
}
.emojijs-emoji-1f63d{
	background-image:url('//twemoji.maxcdn.com/72x72/1f63d.png');
}
.emojijs-emoji-1f63e{
	background-image:url('//twemoji.maxcdn.com/72x72/1f63e.png');
}
.emojijs-emoji-1f63f{
	background-image:url('//twemoji.maxcdn.com/72x72/1f63f.png');
}
.emojijs-emoji-1f640{
	background-image:url('//twemoji.maxcdn.com/72x72/1f640.png');
}
.emojijs-emoji-1f648{
	background-image:url('//twemoji.maxcdn.com/72x72/1f648.png');
}
.emojijs-emoji-1f649{
	background-image:url('//twemoji.maxcdn.com/72x72/1f649.png');
}
.emojijs-emoji-1f64a{
	background-image:url('//twemoji.maxcdn.com/72x72/1f64a.png');
}
.emojijs-emoji-1f64b{
	background-image:url('//twemoji.maxcdn.com/72x72/1f64b.png');
}
.emojijs-emoji-1f64d{
	background-image:url('//twemoji.maxcdn.com/72x72/1f64d.png');
}
.emojijs-emoji-1f64e{
	background-image:url('//twemoji.maxcdn.com/72x72/1f64e.png');
}
.emojijs-emoji-1f681{
	background-image:url('//twemoji.maxcdn.com/72x72/1f681.png');
}
.emojijs-emoji-1f682{
	background-image:url('//twemoji.maxcdn.com/72x72/1f682.png');
}
.emojijs-emoji-1f686{
	background-image:url('//twemoji.maxcdn.com/72x72/1f686.png');
}
.emojijs-emoji-1f687{
	background-image:url('//twemoji.maxcdn.com/72x72/1f687.png');
}
.emojijs-emoji-1f688{
	background-image:url('//twemoji.maxcdn.com/72x72/1f688.png');
}
.emojijs-emoji-1f68a{
	background-image:url('//twemoji.maxcdn.com/72x72/1f68a.png');
}
.emojijs-emoji-1f68b{
	background-image:url('//twemoji.maxcdn.com/72x72/1f68b.png');
}
.emojijs-emoji-1f68d{
	background-image:url('//twemoji.maxcdn.com/72x72/1f68d.png');
}
.emojijs-emoji-1f68e{
	background-image:url('//twemoji.maxcdn.com/72x72/1f68e.png');
}
.emojijs-emoji-1f690{
	background-image:url('//twemoji.maxcdn.com/72x72/1f690.png');
}
.emojijs-emoji-1f694{
	background-image:url('//twemoji.maxcdn.com/72x72/1f694.png');
}
.emojijs-emoji-1f696{
	background-image:url('//twemoji.maxcdn.com/72x72/1f696.png');
}
.emojijs-emoji-1f698{
	background-image:url('//twemoji.maxcdn.com/72x72/1f698.png');
}
.emojijs-emoji-1f69b{
	background-image:url('//twemoji.maxcdn.com/72x72/1f69b.png');
}
.emojijs-emoji-1f69c{
	background-image:url('//twemoji.maxcdn.com/72x72/1f69c.png');
}
.emojijs-emoji-1f69d{
	background-image:url('//twemoji.maxcdn.com/72x72/1f69d.png');
}
.emojijs-emoji-1f69e{
	background-image:url('//twemoji.maxcdn.com/72x72/1f69e.png');
}
.emojijs-emoji-1f69f{
	background-image:url('//twemoji.maxcdn.com/72x72/1f69f.png');
}
.emojijs-emoji-1f6a0{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6a0.png');
}
.emojijs-emoji-1f6a1{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6a1.png');
}
.emojijs-emoji-1f6a2{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6a2.png');
}
.emojijs-emoji-1f6a3{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6a3.png');
}
.emojijs-emoji-1f6a6{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6a6.png');
}
.emojijs-emoji-1f6a7{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6a7.png');
}
.emojijs-emoji-1f6a8{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6a8.png');
}
.emojijs-emoji-1f6a9{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6a9.png');
}
.emojijs-emoji-1f6aa{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6aa.png');
}
.emojijs-emoji-1f6ab{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6ab.png');
}
.emojijs-emoji-1f6ae{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6ae.png');
}
.emojijs-emoji-1f6af{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6af.png');
}
.emojijs-emoji-1f6b0{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6b0.png');
}
.emojijs-emoji-1f6b1{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6b1.png');
}
.emojijs-emoji-1f6b3{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6b3.png');
}
.emojijs-emoji-1f6b4{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6b4.png');
}
.emojijs-emoji-1f6b5{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6b5.png');
}
.emojijs-emoji-1f6b7{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6b7.png');
}
.emojijs-emoji-1f6b8{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6b8.png');
}
.emojijs-emoji-1f6bf{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6bf.png');
}
.emojijs-emoji-1f6c1{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6c1.png');
}
.emojijs-emoji-1f6c2{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6c2.png');
}
.emojijs-emoji-1f6c3{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6c3.png');
}
.emojijs-emoji-1f6c4{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6c4.png');
}
.emojijs-emoji-1f6c5{
	background-image:url('//twemoji.maxcdn.com/72x72/1f6c5.png');
}
.emojijs-emoji-203c{
	background-image:url('//twemoji.maxcdn.com/72x72/203c.png');
}
.emojijs-emoji-2049{
	background-image:url('//twemoji.maxcdn.com/72x72/2049.png');
}
.emojijs-emoji-2139{
	background-image:url('//twemoji.maxcdn.com/72x72/2139.png');
}
.emojijs-emoji-2194{
	background-image:url('//twemoji.maxcdn.com/72x72/2194.png');
}
.emojijs-emoji-2195{
	background-image:url('//twemoji.maxcdn.com/72x72/2195.png');
}
.emojijs-emoji-21a9{
	background-image:url('//twemoji.maxcdn.com/72x72/21a9.png');
}
.emojijs-emoji-21aa{
	background-image:url('//twemoji.maxcdn.com/72x72/21aa.png');
}
.emojijs-emoji-231a{
	background-image:url('//twemoji.maxcdn.com/72x72/231a.png');
}
.emojijs-emoji-231b{
	background-image:url('//twemoji.maxcdn.com/72x72/231b.png');
}
.emojijs-emoji-23eb{
	background-image:url('//twemoji.maxcdn.com/72x72/23eb.png');
}
.emojijs-emoji-23ec{
	background-image:url('//twemoji.maxcdn.com/72x72/23ec.png');
}
.emojijs-emoji-23f3{
	background-image:url('//twemoji.maxcdn.com/72x72/23f3.png');
}
.emojijs-emoji-25fb{
	background-image:url('//twemoji.maxcdn.com/72x72/25fb.png');
}
.emojijs-emoji-25fc{
	background-image:url('//twemoji.maxcdn.com/72x72/25fc.png');
}
.emojijs-emoji-25fd{
	background-image:url('//twemoji.maxcdn.com/72x72/25fd.png');
}
.emojijs-emoji-25fe{
	background-image:url('//twemoji.maxcdn.com/72x72/25fe.png');
}
.emojijs-emoji-2611{
	background-image:url('//twemoji.maxcdn.com/72x72/2611.png');
}
.emojijs-emoji-267b{
	background-image:url('//twemoji.maxcdn.com/72x72/267b.png');
}
.emojijs-emoji-26ab{
	background-image:url('//twemoji.maxcdn.com/72x72/26ab.png');
}
.emojijs-emoji-2705{
	background-image:url('//twemoji.maxcdn.com/72x72/2705.png');
}
.emojijs-emoji-2712{
	background-image:url('//twemoji.maxcdn.com/72x72/2712.png');
}
.emojijs-emoji-2714{
	background-image:url('//twemoji.maxcdn.com/72x72/2714.png');
}
.emojijs-emoji-2744{
	background-image:url('//twemoji.maxcdn.com/72x72/2744.png');
}
.emojijs-emoji-2747{
	background-image:url('//twemoji.maxcdn.com/72x72/2747.png');
}
.emojijs-emoji-274c{
	background-image:url('//twemoji.maxcdn.com/72x72/274c.png');
}
.emojijs-emoji-274e{
	background-image:url('//twemoji.maxcdn.com/72x72/274e.png');
}
.emojijs-emoji-2795{
	background-image:url('//twemoji.maxcdn.com/72x72/2795.png');
}
.emojijs-emoji-2796{
	background-image:url('//twemoji.maxcdn.com/72x72/2796.png');
}
.emojijs-emoji-2797{
	background-image:url('//twemoji.maxcdn.com/72x72/2797.png');
}
.emojijs-emoji-27b0{
	background-image:url('//twemoji.maxcdn.com/72x72/27b0.png');
}
.emojijs-emoji-2934{
	background-image:url('//twemoji.maxcdn.com/72x72/2934.png');
}
.emojijs-emoji-2935{
	background-image:url('//twemoji.maxcdn.com/72x72/2935.png');
}
.emojijs-emoji-2b1b{
	background-image:url('//twemoji.maxcdn.com/72x72/2b1b.png');
}
.emojijs-emoji-2b1c{
	background-image:url('//twemoji.maxcdn.com/72x72/2b1c.png');
}
.emojijs-emoji-3030{
	background-image:url('//twemoji.maxcdn.com/72x72/3030.png');
}
.emojijs-emoji-fe4e5{
	background-image:url('//twemoji.maxcdn.com/72x72/1f1ef-1f1f5.png');
}
.emojijs-emoji-fe4e6{
	background-image:url('//twemoji.maxcdn.com/72x72/1f1fa-1f1f8.png');
}
.emojijs-emoji-fe4e7{
	background-image:url('//twemoji.maxcdn.com/72x72/1f1eb-1f1f7.png');
}
.emojijs-emoji-fe4e8{
	background-image:url('//twemoji.maxcdn.com/72x72/1f1e9-1f1ea.png');
}
.emojijs-emoji-fe4e9{
	background-image:url('//twemoji.maxcdn.com/72x72/1f1ee-1f1f9.png');
}
.emojijs-emoji-fe4ea{
	background-image:url('//twemoji.maxcdn.com/72x72/1f1ec-1f1e7.png');
}
.emojijs-emoji-fe4eb{
	background-image:url('//twemoji.maxcdn.com/72x72/1f1ea-1f1f8.png');
}
.emojijs-emoji-fe4ec{
	background-image:url('//twemoji.maxcdn.com/72x72/1f1f7-1f1fa.png');
}
.emojijs-emoji-fe4ed{
	background-image:url('//twemoji.maxcdn.com/72x72/1f1e8-1f1f3.png');
}
.emojijs-emoji-fe4ee{
	background-image:url('//twemoji.maxcdn.com/72x72/1f1f0-1f1f7.png');
}