<!DOCTYPE html>
<html>
{{ template "head" . }}

<body>
{{ template "header" . }}

<div id="md-rendered">
    <h1>About Nanote</h1>
    <p>
        Nanote is a note-taking webapp built to be quick, reliable, and have as few histrionics as possible. It is
        built, designed, and maintained by me, <a href="https://kywu.org" target="_blank">Kevin Wu</a>,a student at the
        University of Texas at Austin. Nanote was born out of a frustration with Evernote's lackluster web interface,
        unreliable sync, and inconsistent editor. Finding no alternative that would meet my requirements, I built my
        own.
    </p>
    <p>
        I very much subscribe to the philosophy of <a
            href="https://en.wikipedia.org/wiki/Unix_philosophy#Do_One_Thing_and_Do_It_Well" target="_blank">"do one
        thing well"</a> and Nanote's design reflects that. There's no chat function. No handwriting recognition. No
        fancy web clipping or image editing. If those seem more your speed, there's <a href="http://evernote.com"
                                                                                       target="_blank">a certain
        elephant</a> I can recommend to you.
    </p>
    <h2>Business model</h2>
    <p>
        On the business side, Nanote is inspired by <a href="https://pinboard.in" target="_blank">Pinboard</a>. I
        believe that sticking to a paid-only model keeps a site from finding other, possibly insidious ways of making
        money. Pinboard is living, thriving proof that this business model can be quite successful.
    </p>

    <p>
        If you're a paying customer, we have no reason to show you ads. We also don't run ads on other sites and live
        entirely on word of mouth - just like Five Guys. And look how awesome their burgers are.
    </p>
    <p>
        Nanote is privately owned and operated and will be forever. There are no investors to please, no shareholders to
        report to. I'm not seeking VC funding or working towards an "exit". So you can rest assured that the site will
        be run in the same way by the same people (me) for as long as it exists.
    </p>

    <h2>Technology</h2>
    <p>
        Nanote is built in Go and uses a MySQL data store, with HAProxy handling some simple routing. At the moment it's
        hosted on a DigitalOcean droplet running Debian. <a href="https://sendgrid.com">Sendgrid</a> handles emails, and
        payment is done through <a href="https://stripe.com">Stripe</a>. Nanote is made possible by open source
        software, including many excellent Go libraries. I particularly want to draw attention to the following:
    </p>

    <ul>
        <li>
            <a href="http://www.gorillatoolkit.org/pkg/mux" target="_blank">gorilla/mux</a> for routing
        </li>
        <li>
            <a href="http://gopkg.in/gorp.v1" target="_blank">gorp</a> for database interactions
        </li>
        <li>
            <a href="http://evil-icons.io" target="_blank">Evil Icons</a> for excellent SVG icons
        </li>
        <li>
            <a href="http://www.paratype.com/public/" target="_blank">The PT font family</a> for making Nanote look as
            good as it does
        </li>
        <li>
            <a href="https://khan.github.io/KaTeX/" target="_blank">KaTeX</a> for rendering LaTeX math
        </li>
        <li>
            <a href="https://github.com/cure53/DOMPurify" target="_blank">DOMPurify</a> for keeping Nanote XSS-free
        </li>
    </ul>
</div>
</body>
</html>