<!DOCTYPE html>
<html>
{{ template "head" . }}

<body>
{{ template "header" . }}

<div id="container">
    <div id="dash-left">
        <div id="dash-cats">
            <h3 class="dash-section-title">Categories</h3>
            <a class="dash-section-new button" id="dash-new-category" href="#">
                <span>New category</span>
                <div data-icon="ei-plus"></div>
            </a>
            <div class="dash-cat-block dash-cat-selected" id="dash-cat-all" data-catId="all">
                <a class="dash-cat-title" href="#">All notes</a>
            </div>
            <div class="dash-cat-block" id="dash-cat-uncategorized" data-catId="uncategorized">
                <a class="dash-cat-title" href="#">Uncategorized</a>
            </div>
            {{ range $ind, $cat := .categories }}
            <div class="dash-cat-block" data-catId="{{$cat.Id}}">
                <a class="dash-cat-title" href="#">{{$cat.Name}}</a>
                <div class="dash-cat-actions">
                    <div>
                        <div data-icon="ei-trash" class="dash-cat-delete"></div>
                    </div>
                    <div>
                        <div data-icon="ei-pencil" class="dash-cat-edit"></div>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
        <div id="dash-notes">
			<div id="dash-notes-sorting">
				<a href="#" class="button" id="dash-notes-sorting-toggle">
					<span>Sort by</span>
					<div data-icon="ei-chart"></div>
				</a>
			</div>
            <div id="dash-notes-sorting-options">
                <a class="dash-notes-sorting-option" href="#" data-sort-type="updated">Updated</a>
                <a class="dash-notes-sorting-option" href="#" data-sort-type="created">Created</a>
                <a class="dash-notes-sorting-option" href="#" data-sort-type="title">Title</a>
            </div>


            <a class="dash-section-new button" id="dash-new-note" href="/my/editor/new">
                <span>New note</span>
                <div data-icon="ei-plus"></div>
            </a>
            <h3 class="dash-section-title">Notes</h3>

            {{ range $note := .notes }}
            <div class="dash-note-block" id="dash-note-{{ $note.Id }}">
                <span class="dash-note-title">{{$note.Title}}</span>
                <span class="dash-note-updated"><span>Updated: {{$note.UpdatedHuman}} </span><span class="dash-note-timestamp">({{$note.Updated}})</span></span>
                <span class="dash-note-created"><span>Created: {{$note.CreatedHuman}} </span><span class="dash-note-timestamp">({{$note.Created}})</span></span>
                <div class="dash-note-actions">
                    <a href="/my/editor/{{ $note.Id }}" title="Edit">
                        <div data-icon="ei-pencil"></div>
                    </a>
                    <a class="dash-note-delete" href="#" title="Delete" id="dash-note-delete-{{ $note.Id }}">
                        <div data-icon="ei-trash"></div>
                    </a>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
    <div id="dash-right">
        <div id="dash-previewMessage">
            <span>Click a note to preview</span>
        </div>
        <h1 id="dash-md-title"></h1>
        <div id="md-rendered"></div>
    </div>
</div>
</body>
</html>