<!DOCTYPE html>
<html>
{{ template "head" . }}

<body>
{{ template "header" . }}

<div id="editor">
    <div id="editor-left">
        <div id="editor-settings">
            <a id="editor-settings-close" href="#">
                <span>Close</span>
                <div data-icon="ei-close-o"></div>
            </a>
            <h3>Note Settings</h3>
            <div class="editor-settings-block">
                <p>This note has <span id="editor-settings-charcount"></span> characters across <span id="editor-settings-wordcount"></span> words, which is about <span id="editor-settings-pagecount"></span> pages.</p>
            </div>
            <div class="editor-settings-block" id="editor-categories">
                <h4>Categories</h4>
                <div id="editor-categories-message">
                    <span></span>
                </div>

                <input id="editor-categories-new" placeholder="search"/>
                <div id="editor-categories-avail"></div>
                <div id="editor-categories-entries"></div>
            </div>
            <div class="editor-settings-block" id="editor-settings-privacy">
                <h4>Privacy</h4>
                {{ if .private }}
                <p class="editor-settings-remark">Note: Private Mode is enabled on your profile. Your notes will not be publicly accessible, so this setting has no effect.</p>
                <p class="editor-settings-remark">These privacy settings will take effect again if you turn off Private Mode on the <a href="/my/settings">Settings page</a>.</p>
                {{ end }}
                <label for="editor-privacy-private">
                    <input id="editor-privacy-private" type="radio" name="editor-meta-privacy" value="private"/>
                    Private: Your note will not be accessible publicly. This is the default option.
                </label>
                <br/>
                <label for="editor-privacy-unlisted">
                    <input id="editor-privacy-unlisted" type="radio" name="editor-meta-privacy"
                           value="unlisted"/>
                    Unlisted: Your note will not appear on your profile's list of notes, but anyone that has the
                    link can access it.
                </label>
                <br/>
                <label for="editor-privacy-public">
                    <input id="editor-privacy-public" type="radio" name="editor-meta-privacy" value="public"/>
                    Public: Your note will appear on your profile and anyone can access it.
                </label>
                <div id="editor-settings-slug">
                    <h2>Public URL path:</h2>
                    <input id="editor-meta-slug" type="text" placeholder="URL" name="note-slug"/>
                    <p>Others may access your note at:</p>
                    <input id="editor-slug-url" type="text" readonly />
                    <a id="editor-slug-link" class="button" data-baseurl="https://{{ .username }}.nanote.co/n/" target="_blank">
                        <span>(View)</span>
                        <div data-icon="ei-external-link"></div>
                    </a>

                </div>
            </div>
            <div class="editor-settings-block">
                <h4>Delete</h4>
                <a id="editor-settings-deleteNote" href="#">
                    <div data-icon="ei-trash"></div>
                    <span>Delete this note</span>
                </a>
            </div>

        </div>
        <div id="editor-meta">
            <div class="editor-meta-block" id="editor-meta-title-block">
                <input id="editor-meta-title" type="text" placeholder="Note title" tabindex="1"/>
            </div>
            <a id="editor-settings-button" href="#" tabindex="-1">
                <span>Note settings</span>
                <div data-icon="ei-gear"></div>
            </a>
            <div id="editor-mobile-viewSwitch">
                <p>&laquo;</p>
            </div>
        </div>
        <textarea id="editor-md-raw" rows="10" tabindex="3"></textarea>
    </div>
    <div id="editor-right">
        <div id="editor-status" class="neutral">
            <span id="editor-status-message">No unsaved changes.</span>
            <div data-icon="ei-check"></div>
        </div>
        <h1 id="editor-md-title"></h1>
        <div id="md-rendered"></div>
    </div>
</div>
</body>
</html>