<!DOCTYPE html>
<html>
	{{ template "head" . }}

	<body>
		<header>
			<div id="header-left">
				<h2><a href="//nanote.co">nanote</a></h2>
				<h3>&raquo; Error!</h3>
			</div>
		</header>
		<div id="container">
			<h1>Error: {{ .title }}</h1>

			<p>If you believe this error is the result of a bug or glitch, please email <a href="mailto:support@nanote.co">support@nanote.co</a> with details about what you were doing and how you encountered this error.</p>
		</div>
</html>