{{ define "head" }}
<head>
    {{ if not .suppressTitle }}
    <title>Nanote > {{ .title }}</title>
    {{ else }}
    <title>{{ .title }}</title>
    {{ end }}

    <link rel="stylesheet" type="text/css" href="/static/css/lib.reset.css"/>

    {{ range $ind, $sheet := .css }}
    <link rel="stylesheet" type="text/css" href="/static/css/{{ $sheet }}.css"/>
    {{ end }}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>

    {{ range $ind, $script := .js }}
        {{/* Auto-include dependencies for the Markdown renderer */}}
        {{ if eq $script "markdown"}}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/markdown-it/7.0.0/markdown-it.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.js"></script>
            <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/KaTeX/0.6.0/katex.min.css" />

            <script type="text/javascript" src="/static/js/lib.emoji.js"></script>
            <link rel="stylesheet" type="text/css" href="/static/css/lib.emoji.css"/>
        {{ end }}
        <script type="text/javascript" src="/static/js/{{ $script }}.js"></script>
    {{ end }}

    <script type="text/javascript" src="/static/js/auth.js"></script>
    {{ if not .suppressModal }}
    <script type="text/javascript" src="/static/js/modal.js"></script>
	{{ end }}

    <meta name="viewport" content="width=480, user-scalable=0"/>
</head>
{{ end }}