{{ define "header" }}
<header>
    <div id="header-left">
        <h2><a href="//nanote.co">nanote</a></h2>
        {{ if not .suppressTitle }}
        <h3>&raquo; {{ .title }}</h3>
        {{ end }}
    </div>
    <div id="header-right">
        {{ if .authed }}
        <div id="header-nav">
            <a href="/my/dash">Dashboard</a>
            <a href="/my/editor">Write</a>
            {{ if not .private }}
                <a href="/my/profile" target="_blank">Profile</a>
            {{ end }}
            <a href="/my/settings">Settings</a>
        </div>
        <div id="header-auth">
            <a id="header-auth-logout" href="#">Log out</a>
        </div>
        {{ else }}
        <div id="header-auth">
            <a id="header-auth-login" href="#">Log in</a>
        </div>
        <div id="header-auth-form">
            <form id="header-login">
                <input id="header-auth-username" type="text" name="username" placeholder="username"/>
                <input id="header-auth-password" type="password" name="password" placeholder="password"/>
                <a id="header-auth-submit" href="#">log in</a>
                <a id="header-lostpass-button" class="bad" href="#">lost password?</a>
            </form>
            <form id="header-lostpass">
                <p>Lost your password? Enter your username and we'll email you recovery instructions.</p>
                <input id="header-lostpass-username" type="text" name="lostpass" placeholder="your username"/>
                <a id="header-lostpass-submit" href="#">Submit</a>
                <a id="header-lostpass-cancel" href="#">Cancel</a>
            </form>
            <span id="header-auth-message" class="bad"></span>
        </div>
        {{ end }}
    </div>
</header>
{{ if not .suppressModal }}
<div id="modal-overlay">
    <div class="modal" id="modal-alert">
		<p class="modal-message"></p>
        <a class="button modal-button-cancel" href="#">
            <span>Dismiss</span>
            <div data-icon="ei-check"></div>
        </a>
    </div>

    <div class="modal" id="modal-confirm">
        <p class="modal-message"></p>

        <a class="button modal-button-cancel" href="#">
            <span>Cancel</span>
            <div data-icon="ei-close-o"></div>
        </a>

        <a class="button modal-button-accept" href="#">
            <span>Confirm</span>
            <div data-icon="ei-check"></div>
        </a>
    </div>

    <div class="modal" id="modal-prompt">
        <p class="modal-message"></p>
        <input type="text" id="modal-prompt-input" />

        <a class="button modal-button-cancel" href="#">
            <span>Cancel</span>
            <div data-icon="ei-close-o"></div>
        </a>

        <a class="button modal-button-accept" href="#">
            <span>Submit</span>
            <div data-icon="ei-check"></div>
        </a>
    </div>
</div>
{{ end }}
{{ end }}