<!DOCTYPE html>
<html>
{{template "head" . }}

<body>
{{template "header" . }}

<div id="container">
    <div id="index-cta">
        <h1>Nanote: no-nonsense note taking.</h1>
        <a id="index-cta-button" href="/register">
            <span>SIGN UP</span>
        </a>
        <h2>Or see it in action:</h2>
    </div>

    <div id="index-demo">
        <h1 id="index-demo-caption"></h1>
        <textarea id="md-raw"></textarea>

        <div id="md-rendered"></div>
    </div>

    <div id="index-features">
        <div class="index-feature-block">
            <h1>
                <div data-icon="ei-pencil"></div>
                Robust editing
            </h1>
            <p>
                Nanote uses Markdown for powerful, unambiguous formatting, which means your notes will always look
                great. And if you need it, you can format gorgeous math equations and formulas using LaTeX.
            </p>
        </div>
        <div class="index-feature-block">
            <h1>
                <div data-icon="ei-lock"></div>
                Own your content
            </h1>
            <p>
                Publish that screenplay draft, your awesome pasta recipe or yesterday's class notes. Or, if you're
                feeling wary, you can make your entire account private from the world. You can also download a full copy
                of your data at any time.
            </p>
        </div>
        <div class="index-feature-block">
            <h1>
                <div data-icon="ei-heart"></div>
                No ulterior motives
            </h1>
            <p>
                Nanote is privately owned and operated, and will be for as long as it exists. There are no ads, no
                data-mining, and no funny business. We don't track you or run any sort of third-party analytics.
            </p>
        </div>
        <div class="index-feature-block">
            <h1>
                <div data-icon="ei-clock"></div>
                Fast and lightweight
            </h1>
            <p>
                From its very inception, Nanote was built to go fast. There are no images anywhere on the site, so notes
                load in the blink of an eye. As a result, your published notes also load and render incredibly quickly.
            </p>
        </div>
    </div>
    <footer>
        <p>Built by
            <a href="https://kywu.org">Kevin Wu</a> | <a href="/about">About</a> | <a href="/support">Support</a>
        </p>
    </footer>
</body>
</html>