<!DOCTYPE html>
<html>
	{{ template "head" . }}

	<body>
		{{ template "header" . }}

		<div id="container">
			<h1>Recover your password</h1>

			<p>Fill out this form to reset your password. We recommend you choose a password that's long, and preferably has lots of different characters, numbers, and symbols.</p>

			<div id="recover-message">
				<p></p>
			</div>
			<div id="recover-form">
				<form>
					<label for="recover-form-username">your username</label>
					<input id="recover-form-username" type="text" placeholder="username" />

					<label for="recover-form-newpass">new password</label>
					<input id="recover-form-newpass" type="password" placeholder="password" />

					<label for="recover-form-passconfirm">again to confirm</label>
					<input id="recover-form-passconfirm" type="password" placeholder="confirmation" />

					<a id="recover-submit" class="button" href="#">
						<div data-icon="ei-arrow-right"></div>
						<span>Submit</span>
					</a>
				</form>
			</div>


			<input type="hidden" id="recover-code" value="{{ .code }}" />
		</div>
	</body>
</html>