<!DOCTYPE html>
<html>
	{{ template "head" . }}

	<body>
		{{ template "header" . }}

		<div id="container">
			<div id="register-right">

			</div>
			<div id="register-left">
				<h1>TL;DR Email me at <a href="mailto:kevin@kevinywu.com">kevin@kevinywu.com</a> and I'll hook you up with an account (for free).</h1>
				<p>Registration is closed. For a few months I had a "beta registration" page here, where anyone could get beta access for $12 (and continue at that price when full access was released for $24.)</p>

				<p>With no effort made to market Nanote beyond friends and people I know, nobody has signed up for beta access - and that's good. Someone giving me money for Nanote would make me feel pressured and a little distressed. If anyone had signed up, this would be the part where I offer them their money back.</p>

				<p>I've been thinking about what I want for the future of Nanote and realized I don't actually know what I want other than to make a note-taking app that I want to use. I've even considered the idea of open sourcing it at the moment (though I'm not sure that will happen anytime soon).</p>

				<p>As it stands, I don't see anything to gain in making people pay for Nanote. In addition to providing me with a place to take notes that I'm actually satisfied with, Nanote has already made me a better programmer, developer, and engineer. I will continue to develop it as my needs evolve and as feedback from people who do use it rolls in.</p>

				<p>In the meantime, I would like to provide people I don't know in person a way to get access to Nanote. If you want in, please email me with your desired username and a brief mention of what you'll be using Nanote for (class, personal organization, etc.) This is just for my curiosity and doesn't dictate whether I give you an account. This account will be for free and will remain free if Nanote ever becomes a paid service in the future.</p>

				<p>Nanote has been an amazingly fun project to learn from and work on. Thank you for stopping by!</p>

				<p>- Kevin</p>
			</div>
		</div>
	</body>
</html>