<!DOCTYPE html>
<html>
	{{ template "head" . }}

	<body>
		{{ template "header" . }}

		<div id="container">
			<h1>Settings for {{ .user.Username }}</h1>
			<div id="settings-message">
				<div data-icon="ei-pencil"></div>
				<p>You can set user settings here.</p>
			</div>
			<div class="settings-break"></div>
			<div class="settings-block">
				<h2 class="settings-label">Your registered email address is:</h2>
				<p class="settings-value">{{ .user.Email }}</p>
				<p class="settings-remark">Unfortunately, you cannot change this yourself at this time.</p>
				<p class="settings-remark">If you need to change your email address, please <a href="/support">contact me</a>.</p>
			</div>
			<div class="settings-break"></div>
			<div class="settings-block">
				<h2 class="settings-label">Private mode:</h2>
				<div class="settings-block" id="settings-private-remark">
					{{ if .user.Private }}
						<input id="settings-private" checked=true type="checkbox" />
						<div data-icon="ei-lock"></div>
						<span>Private mode is on.</span>
					{{ else }}
						<input id="settings-private" type="checkbox" />
						<div data-icon="ei-unlock"></div>
						<span>Private mode is off.</span>
					{{ end }}
				</div>
				<p class="settings-remark">Private mode makes your entire profile private. When private mode is on, none of your notes will be visible regardless of their individual privacy setting.</p>
			</div>
			<div class="settings-break"></div>
			<div class="settings-block">
				<h2 class="settings-label">Password change</h2>
				<div class="settings-block">
					<label for="settings-password-old">Your current password:</label>
					<input id="settings-password-old" type="password" />
				</div>
				<div class="settings-block">
					<label for="settings-password-new">New password:</label>
					<input id="settings-password-new" type="password" />
				</div>
				<div class="settings-block">
					<label for="settings-password-confirm">Type again to confirm:</label>
					<input id="settings-password-confirm" type="password" />
				</div>
				<a id="settings-password-submit" class="button" href="#">
					<div data-icon="ei-lock"></div>
					<span>Change password</span>
				</a>
			</div>
			<div class="settings-break"></div>
			<div class="settings-block">
				<h2 class="settings-label">API key</h2>
				<div class="settings-block" id="settings-apikey">
					<p class="settings-remark">Your API key lets third-party applications interact with Nanote without needing to access your password.</p>
					<p class="settings-remark">Never give your password to a third-party application - only give your API key. If you believe your API key is in bad hands, you should generate a new one to prevent them from accessing your account.</p>

					{{ if eq .user.ApiKey "" }}
						<p id="settings-apikey-remark">You don't have an API key yet! Click the button to generate one.</p>
						<p><span id="settings-apikey-value">[not set]</span></p>
					{{ else }}
						<p id="settings-apikey-remark">Your key:</p>
						<p><span id="settings-apikey-value">{{ .user.Username }}:{{ .user.ApiKey }}</span></p>
					{{ end }}
					<a class="button" id="settings-apikey-generate" href="#">
						<div data-icon="ei-refresh"></div>
						<span>Generate new key</span>
					</a>
				</div>
			</div>
			<div class="settings-break"></div>
			<div class="settings-block">
				<h2 class="settings-label">Data export</h2>
				<div class="settings-block">
					<p class="settings-remark">Click to generate a JSON export of all your note data. This may take a while depending on how many notes and categories you have.</p>
					<p class="settings-remark">(The ability to export your formatted notes in HTML is in the works as well.)</p>
				</div>
				<form action="/api/user/export" method="POST">
					<a id="settings-data-export" class="button" href="#" onclick="$(this).closest('form').submit();">
						<div data-icon="ei-archive"></div>
						<span>Export data</span>
					</a>
				</form>
			</div>
			<div class="settings-break"></div>
			<div class="settings-block"></div>
				<h2 class="settings-label">Account information</h2>
				<div class="settings-block" id="settings-account-info">
					<p>Your subscription plan:
						<span>{{ .stripe.Plan }}</span>
					</p>
					<p>Your yearly fee:
						<span>{{ .stripe.Fee }}</span>
					</p>
					{{ if ne .stripe.PeriodEnd ""}}
						<p>
						Your subscription will auto-renew:
							<span>{{ .stripe.PeriodEnd }}</span></p>
					{{ else if ne .stripe.TrialEnd "" }}
						<p>
							Your trial will end on: <span>{{ .stripe.TrialEnd }}</span>
						</p>
						<p class="settings-remark">If you cancel before this date, your credit card will not be charged.</p>
					{{ end }}
				</div>
			<div class="settings-break"></div>
			<div class="settings-block">
				<h2 class="settings-label">Account deletion</h2>

					<label for="settings-cancel-password">Please enter your password to confirm: </label>
					<input id="settings-cancel-password" type="password" />

					<p class="settings-remark">Warning: This will delete all your notes, categories, and any data associated with you. Your username will be made available again, and someone else may be able to register it. Your account information is deleted immediately and cannot be recovered. It is recommended that you export your data before deleting your account.</p>

					<a id="settings-cancel-sub" href="#" class="button">
						<div data-icon="ei-exclamation"></div>
						<span>End subscription</span>
					</a>
			</div>
		</div>
	</body>
</html>