<!DOCTYPE html>
<html>
	{{ template "head" . }}

	<body>
		{{ template "header" . }}

		<div id="md-rendered">
			<h1>Support</h1>
			<p>Nanote is available via:
				<ul>
					<li>
						<a href="mailto:kevin@nanote.co">
							<div data-icon="ei-envelope"></div> email
						</a>
					</li>
					<li>
						<a href="https://twitter.com/nanote_co">
							<div data-icon="ei-sc-twitter"></div> twitter
						</a>
					</li>
					<li>
						<a href="https://facebook.com/nanoteco">
							<div data-icon="ei-sc-facebook"></div> facebook
						</a>
					</li>
					<li>
						<a href="https://github.com/nanote-co/issues">
							<div data-icon="ei-sc-github"></div> github
						</a>
					</li>
				</ul>
			</p>
			<p>All these accounts are operated by me, <a href="https://kywu.org">Kevin Wu</a>. Email is usually the best especially if you're having issues with billing or your account. If you encounter any technical glitches/bugs and you have a Github account, it'd be incredibly helpful if you could add an issue at the Github link above. If you don't have a Github account (or don't know what that is) you can always email me. Please report everything that you find! This helps me make Nanote better for you.</p>
		</div>
	</body>
</html>