<!DOCTYPE html>
<html>
	{{ template "head" . }}

	<style>
		#container {
			clear: both;
		}

		#verify-message {
			height: 25px;
			line-height: 25px;
		}

		#verify-message p {
			display: inline-block;
			float: left;
			padding-left: 5px;
		}

		#verify-message .icon {
			float: left;
		}
	</style>
	<body>
		{{ template "header" . }}

		<div id="container">
			<div id="verify-message">
				<div data-icon="ei-spinner-2"></div>
				<p>Verifying...</p>
			</div>

			<input type="hidden" id="verify-code" value="{{ .code }}" />
			<input type="hidden" id="verify-email" value="{{ .email }}" />
		</div>
</html>